.movie {
  overflow: auto;
  nav {
    height: 50px;
    border-bottom: 1px solid #dddddd;
    line-height: 50px;
    display: flex;
    background: #ffffff;
    a {
      flex: 1;
      text-align: center;
      color: #191a1b;
    }
    .active {
      color: #ff5f16;
    }
  }
}
.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  display: none;
  &.show {
    display: block;
  }
}
.title {
  position: relative;
  height: 44px;
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 44px;
  }
  .city {
    position: absolute;
    top: 0;
    left: 15px;
    height: 44px;
    line-height: 44px;
  }
}