<template>
  <div class="test">
    <h2>{{ title }}</h2>
    <button @click="n++">按钮{{n}}</button>
  </div>
</template>

<script>
export default {
  props: ['title'],
  data () {
    return {
      n: 0
    }
  }
}
</script>

<style lang="scss">
.test {
  border: 1px solid red;
  margin-bottom: 20px;
}
</style>
