<template>
  <div class="tag" :style="{ background: color }">
    {{ text }}
    <span @click="$emit('remove', id)">x</span>
  </div>
</template>

<script>
export default {
  props: ['id', 'text', 'color']
}
</script>

<style lang="scss" scoped>
.tag {
  line-height: 40px;
  padding: 0 20px 0 30px;
  margin: 2px 2px 2px 20px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 0;
    background: inherit;
    height: 8px;
    border: 16px solid #fafafa;
    border-right-color: transparent;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    left: -20px;
    top: 0;
  }
  &::after {
    content: "";
    width: 6px;
    height: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #FFF;
    position: absolute;
    left: 8px;
    top: 17px;
    box-shadow: inset 1px 1px 0 #ccc;
  }
  span {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 4px;
    top: 12px;
    line-height: 14px;
    text-align: center;
    display: none;
    cursor: pointer;
  }
  &:hover {
    &::after {
      display: none;
    }
    span {
      display: block;
    }
  }
}
</style>
