<template>
  <div class="tag">
    <span>Tag Color:</span>
    <i
      v-for="color in colors"
      :key="color"
      :style="{ background: color }"
      :class="{ active: curColor === color }"
      @click="$emit('change', color)"
    ></i>
  </div>
</template>

<script>
export default {
  props: ['colors', 'curColor'],
  data () {
    return {
    }
  }
}
</script>

<style lang="scss" scoped>
.tag {
  padding: 20px 100px;
  i {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
  .active {
    border: 3px solid #333;
  }
}
</style>
