<template>
  <div class="home">
    <main>
      <router-view />
    </main>
    <van-tabbar route active-color="#ee0a24">
      <van-tabbar-item to="/gohome" icon="wap-home-o">配送到家</van-tabbar-item>
      <van-tabbar-item to="/cart" icon="shopping-cart-o" :badge="total.count">购物车</van-tabbar-item>
      <van-tabbar-item to="/mine" icon="manager-o">我的</van-tabbar-item>
    </van-tabbar>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters('cart', ['total'])
  }
}
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
    padding-bottom: 50px;
  }
}
</style>
