@import '../styles/common.scss';
img {
  width: 100%;
}
header {
  height: 186px;
  padding: 30px 10px 30px 15px;
  position: relative;
  overflow: hidden;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(30px);
  transform: scale(1.5);
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .2);
  }
}
.content {
  display: flex;
}
.pic {
  width: 126px;
  height: 126px;
}
.info {
  flex: 1;
  margin-left: 15px;
  color: #fefefe;
}
.creator {
  display: flex;
  align-items: center;
  margin-top: 15px;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  p {
    margin-left: 10px;
  }
}

.songs-item {
  border-bottom: 1px solid #ddd;
  height: 56px;
  padding-right: 50px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
    font-weight: normal;
    font-size: 17px;
    b {
      color: #888;
      font-weight: normal;
    }
  }
  p {
    font-size: 12px;
    color: #888;
  }
  .icon {
    position: absolute;
    right: 15px;
    top: 13px;
    path {
      fill: #9e8b8b;
    }
  }
}