<template>
  <div class="app">
    <Child1 ref="child1" />
    <hr />
    <button @click="add">添加</button>
    <ul ref="ul">
      <li v-for="item in arr" :key="item">{{ item }}</li>
    </ul>
  </div>
</template>

<script>
import Child1 from './components/Child1.vue'
export default {
  data () {
    return {
      arr: []
    }
  },
  methods: {
    add () {
      // 可以通过ref获取子组件实例对象，调用子组件的方法
      console.log(this.$refs.child1)
      this.$refs.child1.addN()
      // this.arr.push(this.arr.length)
    }
  },
  components: {
    Child1
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  line-height: 40px;
  border-bottom: 1px solid;
  background: orange;
  color: #fff;
}
</style>
