.todos {
  margin-top: 40px;
  li {
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 8px 10px 8px 0;
    border-radius: 5px;
    cursor: pointer;
    &:first-of-type {
      margin-top: 0;
    }
    p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-right: 7px;
    }
    &.completed {
      background-color: #fe7345;
      p, .closeIcon {
        color: #fff !important;
      }
    }
  }
}
.box {
  margin: 0 8px;
  width: 14px;
  height: 14px;
  .checked {
    color: #ffffff;
  }
}
.checkbox {
  padding: 5px;
  border-radius: 2px;
  border: 2px solid #494a4b;
}
.closeBtn {
  margin: 0 0 0 auto;
  padding: 0 8px;
  width: 14px;
  height: 14px;
  padding: 1px;
  background-color: transparent;
  cursor: pointer;
  .closeIcon {
    width: 12px;
    height: 12px;
  }
}
