<script setup>
import { reactive, ref, nextTick, computed, watch, watchEffect, onMounted, onUpdated } from 'vue'
import Child1 from './components/Child1.vue'
</script>

<template>
  <h1>App组件</h1>
  <hr>
  <Child1>
    <template v-slot:header="obj">
      <h1>头部 {{ obj.num }}</h1>
    </template>
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
    </ul>
    <template #footer>
      <div>底部</div>
    </template>
  </Child1>
</template>

<style>

</style>
