<template>
  <div>
    <button @click="login = !login">切换</button>
    <!-- vue更新页面时会采用就地复用的策略，如果不希望更新时就地复用，可以元素添加不用的key值 -->
    <input key="login" v-if="login" type="text" placeholder="登陆">
    <input key="register" v-else type="text" placeholder="注册">
    <ul>
      <!--
        v-for中的key，
        vue更新时用来优化性能的辅助标识，
        用来查找需要更新的dom元素，
        尽量不要使用下标当key，
        如果列表没有增删改查的情况可以使用下标当做key
       -->
      <li v-for="(item, index) in arr" :key="index">
        <input type="checkbox">
        {{ item }}
        <button @click="arr.splice(index, 1)">删除</button>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  data () {
    return {
      login: true,
      arr: [1, 2, 3, 4, 5, 6, 7]
    }
  }
}
</script>

<style>

</style>
