<template>
  <div>
    <h1>个人信息</h1>
    <p>姓名: {{ name }}</p>
    <p>年龄:
      <button @click="add(-1)">-</button>
      {{ age }}
      <button @click="addAge(2)">+</button>
    </p>
    <p>性别: {{ sex }}</p>
    <button @click="$router.push('/about')">去编辑</button>
    <hr />
    {{ xm }}
    <hr />
    {{ xmSex }}
    <hr />
    {{ userDetail }}
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex'

export default {
  methods: {
    // 使用辅助函数把 mutations 的方法解构到组件中
    ...mapMutations(['addAge']),
    ...mapMutations({
      add: 'addAge'
    })
    // add () {
    //   this.$store.commit('addAge', 1)
    // }
  },
  computed: {
    // 使用计算属性去获取store中的数据，
    // name () {
    //   return this.$store.state.name
    // },
    // age () {
    //   return this.$store.state.age
    // },
    // sex () {
    //   return this.$store.state.sex
    // }
    // 使用 vuex 提供的辅助函数获取仓库的数据
    ...mapState(['name', 'age', 'sex']),
    ...mapState({
      xm: state => ({ xmName: state.name, xmAge: state.age }),
      xmSex: state => state.sex,
      xmName: state => state.name,
      xmAge: state => state.age
    }),
    // 使用 vuex 提供的辅助函数获取仓库的 getters
    ...mapGetters(['userDetail'])
    // userDetail () {
    //   return this.$store.getters.userDetail
    // }
    // xm () {
    //   return {
    //     xmName: this.$store.state.name,
    //     xmAge: this.$store.state.age
    //   }
    // }
  },
  created () {
    // 获取仓库的数据
    console.log(this.$store.state)
  }
}
</script>

<style>

</style>
