<template>
  <div class="city-list">
    <div class="floor" ref="floor">
      <div
        v-for="item in list"
        :key="item.type"
        :class="['box', { hot: item.isHot }]"
      >
        <h3>{{ item.type }}</h3>
        <List :isHot="item.isHot" :list="item.children" />
      </div>
    </div>
    <div class="nav">
      <p
        v-for="(item, index) in navlist"
        :key="item.type"
        @click="jump(index)"
      >{{ item.type }}</p>
    </div>
    <div class="toast" v-show="tipText">{{ tipText }}</div>
  </div>
</template>

<script>
import List from './List.vue'
export default {
  props: ['list'],
  data () {
    return {
      tipText: '' // 提示内容
    }
  },
  computed: {
    navlist () {
      return this.list.filter(v => !v.isHot)
    }
  },
  methods: {
    // 楼层跳转
    jump (index) {
      // 根据点击的下标查找左侧对应的楼层，获取该楼层到顶部的距离
      const offsetTop = this.$refs.floor.children[index + 1].offsetTop
      // 改变 floor 的 scrollTop
      this.$refs.floor.scrollTop = offsetTop
      // 显示弹窗
      this.tipText = this.navlist[index].type
      if (this.timer) clearTimeout(this.timer)
      this.timer = setTimeout(() => {
        this.tipText = ''
        this.timer = null
      }, 2000)
    }
  },
  components: {
    List
  }
}
</script>

<style lang="scss" scoped>
.city-list {
  height: 100%;
  overflow: hidden;
  position: relative;
  h3 {
    background-color: #f4f4f4;
    color: #797d82;
    padding: 0 0 0 15px;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
    font-size: 14px;
  }
  .hot {
    h3 {
      background: none;
    }
  }
}
.floor {
  height: 100%;
  overflow: auto;
  padding-right: 20px;
}
.nav {
  position: fixed;
  right: 0;
  top: 50px;
  bottom: 0;
  width: 20px;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toast {
  width: 60px;
  height: 60px;
  background: rgba($color: #000000, $alpha: .8);
  border-radius: 5px;
  text-align: center;
  line-height: 60px;
  color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}
</style>
