<template>
  <ul :class="{ hotlist: isHot }">
    <li v-for="val in list" :key="val.cityId" @click="goHome(val.name)">
      <p>{{ val.name }}</p>
    </li>
  </ul>
</template>

<script>
export default {
  props: ['isHot', 'list'],
  methods: {
    goHome (city) {
      console.log(city)
      this.$router.push('/')
      localStorage.setItem('city', city)
    }
  }
}
</script>

<style lang="scss" scoped>
ul {
  padding-left: 20px;
  li {
    list-style-type: none;
    color: #191a1b;
    line-height: 48px;
    border-bottom: 1px solid #ededed;
    font-size: 14px;
    &:last-of-type {
      border-bottom: none;
    }
  }
}
.hotlist {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  li {
    width: calc(100% / 3);
    padding: 0 5px;
    line-height: 30px;
    height: 30px;
    margin-bottom: 16px;
    text-align: center;
    border-bottom: none;
    p {
      background: #f4f4f4;
    }
  }
}
</style>
