<template>
  <div class="search">
    <div class="input-wrap">
      <i>
        <svg t="1668073467857" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2655" width="22" height="22"><path d="M469.333 192c153.174 0 277.334 124.16 277.334 277.333 0 68.054-24.534 130.411-65.216 178.688L846.336 818.24l-48.341 49.877L630.4 695.125a276.053 276.053 0 0 1-161.067 51.542C316.16 746.667 192 622.507 192 469.333S316.16 192 469.333 192z m0 64C351.51 256 256 351.51 256 469.333s95.51 213.334 213.333 213.334 213.334-95.51 213.334-213.334S587.157 256 469.333 256z" p-id="2656"></path></svg>
      </i>
      <input type="text" placeholder="请输入城市名" v-model.trim="searchText" @focus="showCancel = true">
      <span v-if="searchText && showCancel" @click="searchText = ''">
        <svg t="1668073513822" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3825" width="16" height="16"><path d="M512 64c-247.00852 0-448 200.960516-448 448S264.960516 960 512 960c247.00852 0 448-200.960516 448-448S759.039484 64 512 64zM694.752211 649.984034c12.480043 12.54369 12.447359 32.768069-0.063647 45.248112-6.239161 6.208198-14.399785 9.34412-22.591372 9.34412-8.224271 0-16.415858-3.135923-22.65674-9.407768l-137.60043-138.016718-138.047682 136.576912c-6.239161 6.14455-14.368821 9.247789-22.496761 9.247789-8.255235 0-16.479505-3.168606-22.751351-9.504099-12.416396-12.576374-12.320065-32.800753 0.25631-45.248112l137.887703-136.384249-137.376804-137.824056c-12.480043-12.512727-12.447359-32.768069 0.063647-45.248112 12.512727-12.512727 32.735385-12.447359 45.248112 0.063647l137.567746 137.984034 138.047682-136.575192c12.54369-12.447359 32.831716-12.320065 45.248112 0.25631 12.447359 12.576374 12.320065 32.831716-0.25631 45.248112L557.344443 512.127295 694.752211 649.984034z" p-id="3826"></path></svg>
      </span>
    </div>
    <div class="cancel" v-if="showCancel" @click="cancel">取消</div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      showCancel: false, // 取消按钮
      searchText: '' // 搜索内容
    }
  },
  methods: {
    cancel () {
      this.showCancel = false
      this.$emit('cancel')
    }
  },
  watch: {
    searchText () {
      this.$emit('search', this.searchText)
    }
  }
}
</script>

<style lang="scss" scoped>

.search {
  background: #f4f4f4;
  padding: 10px 15px;
  display: flex;
  font-size: 14px;
  border-radius: 3px;
}
.input-wrap {
  flex: 1;
  height: 30px;
  background: #ffffff;
  display: flex;
  i, span {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    flex: 1;
    border: none;
    outline: none;
  }
}
.cancel {
  width: 50px;
  text-align: right;
  line-height: 30px;
}
</style>
