<template>
  <div class="child2">
    <h2>child2</h2>
    <p>计时器：{{ num }}</p>
    <ol>
      <li>aaa</li>
      <li>aaa</li>
      <li>aaa</li>
      <li>aaa</li>
    </ol>
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: 0
    }
  },
  // 被keep-alive组件缓存组件特有的生命周期，普通的组件中不会执行这两个生命周期
  activated () { // 组件显示时执行
    console.log('child2显示了')
    this.timer = setInterval(() => {
      this.num++
      console.log(this.num)
    }, 1000)
  },
  deactivated () { // 组件隐藏时时执行
    console.log('child2隐藏了')
    clearInterval(this.timer)
  }
}
</script>

<style lang="scss" scoped>
.child2 {
  background: blue;
}
p {
  color: #fff;
}
</style>
