<template>
  <div class="child1">
    <h2>child1</h2>
    <button @click="num --">-</button>
    {{ num }}
    <button @click="num ++">+</button>
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
    </ul>
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: 10
    }
  },
  created () {
    console.log('child1组件创建成功了')
  },
  beforeDestroy () {
    console.log('child1组件要销毁了')
  }
}
</script>

<style lang="scss" scoped>
.child1 {
  background: green;
}
</style>
