.wrap {
  width: 100%;
  height: 100%;
  background: #f0f2f5 url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg) no-repeat;
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  width: 328px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 100px 0 20px;
  img {
    width: 50px;
    margin-right: 15px;
  }
}
.desc {
  text-align: center;
  color: #6a6a6a;
  margin-bottom: 70px;
}