.header {
  position: fixed;
  height: 60px;
  width: 100%;
  background: rgba($color: #000000, $alpha: .3);
  top: 0;
  left: 0;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  ul {
    overflow: hidden;
  }
  li {
    float: right;
    width: 40px;
    height: 40px;
    background: #42444e;
    margin-right: 10px;
    list-style-type: none;
    border-radius: 3px;
    position: relative;
    padding: 5px;
    .icon {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 12px;
      color: #cfcece;
      transform: scale(0.8);
      cursor: pointer;
    }
  }
  img {
    height: 100%;
  }
  button {
    padding: 0 10px;
    background: #484ec0;
    border: none;
    border-radius: 3px;
    color: #cfcece;
    &:disabled {
      background: #34363c;
      color: #575b6a;
    }
  }
}