<template>
  <div class="child2">
    <h2>child2</h2>
    <ol>
      <li>aaa</li>
      <li>aaa</li>
      <li>aaa</li>
      <li>aaa</li>
    </ol>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.child2 {
  background: blue;
}
</style>
