<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <p>年龄: {{ age }}</p>
    <div>姓名: <b v-text="name"></b></div>
    <div>姓名: <b v-html="name"></b></div>
  </div>

  <script>
    let vm = new Vue({
      el: '.app', // vue挂载的元素
      data: { // 定义数据
        title: '开始学习vue',
        age: 20,
        name: '<i>小明</i>'
      }
    })
    console.log(vm)
  </script>
</body>
</html>