<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <p>分数: {{ num }}</p>
    <div v-show="num >= 90" style="color: green">
      <p>非常棒！</p>
      <ul>
        <li>a</li>
        <li>b</li>
      </ul>
    </div>
    <h2 v-show="num >= 60 && num < 90" style="color: orange">及格了</h2>
    <i v-show="num < 60" style="color: red">你该加油努力了</i>
    <!-- <div v-if="num >= 90" style="color: green">
      <p>非常棒！</p>
      <ul>
        <li>a</li>
        <li>b</li>
      </ul>
    </div>
    <h2 v-else-if="num >= 60 && num < 90" style="color: orange">及格了</h2>
    <i v-else style="color: red">你该加油努力了</i> -->
  </div>

  <script>
    let vm = new Vue({
      el: '.app', // vue挂载的元素
      data: { // 定义数据
        title: '开始学习vue',
        num: 10,
      }
    })
    console.log(vm)
  </script>
</body>
</html>