<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <p v-for="(item, index) in poetry">
      <i>{{ index }}</i> - {{ letter[index] }}
      <b>{{ item }}</b>
    </p>
    <hr />
    <ul>
      <li v-for="item in letter">{{ 'aa' + item.toUpperCase() }}</li>
    </ul>
    <hr />
    <ul>
      <li v-for="(item, i) in 5">{{ i }} - {{ item }}</li>
    </ul>
    <hr />
    <ul>
      <li v-for="(val, key, index) in person">{{ key }} - {{ val }} - {{ index }}</li>
    </ul>
    <hr />
    <ol>
      <li v-for="item in list">
        <h3>{{ item.title }}</h3>
        <ul>
          <li v-for="val in item.child">{{ val }}</li>
        </ul>
      </li>
    </ol>
  </div>

  <script>
    let vm = new Vue({
      el: '.app', // vue挂载的元素
      data: { // 定义数据
        title: '悯农',
        poetry: ['锄禾日当午', '汗滴禾下土', '谁知盘中餐', '粒粒皆辛苦'],
        letter: 'abcdefg',
        person: {
          name: '小明',
          age: 10,
          sex: '男'
        },
        list: [
          {
            title: '歌手',
            child: ['周杰伦', '张学友', '刘德华']
          },
          {
            title: '演员',
            child: ['成功', '李连杰', '周星驰']
          }
        ]
      }
    })
    console.log(vm)
  </script>
</body>
</html>