<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .box {
    width: 100px;
    height: 100px;
    background: red;
  }
</style>
<body>
  <div class="app">
    <template v-if="num > 0">
      <button v-on:click="num --">-</button>
      <button v-on:click="changeCount(-2)">-2</button>
      {{ num }}
    </template>
    <button @click="add">+</button>
    <button @click="changeCount(2)">+2</button>
    <hr />
    <div @mouseenter="mouseenter" @mouseleave="mouseleave" class="box">
      <h2 v-if="show">鼠标滑过显示</h2>
    </div>
    <hr />
  </div>

  <script>
    let vm = new Vue({
      el: '.app', // vue挂载的元素
      data: { // 定义数据
        num: 0,
        show: false,
        text: '默认值'
      },
      methods: { // 定义方法t
        add() {
          this.num ++
        },
        changeCount(n) {
          this.num += n
        },
        mouseenter() {
          console.log('鼠标滑过')
          this.show = true
        },
        mouseleave() {
          this.show = false
        }
      }
    })

    console.log(vm)
  </script>
</body>
</html>