<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
  }
  .box {
    width: 300px;
    height: 300px;
    background: red;
    color: #fff;
  }
</style>
<body>
  <div class="app">
    <div
      class="box"
      @mouseenter="mouseenter"
      @mouseleave="mouseleave"
      @mousemove="mousemove('zyx', $event)"
    >
    <!-- @mousemove="pos = { x: $event.pageX, y: $event.pageY }" -->
    <!-- @mousemove="mousemove" -->
      <p v-if="show">当前鼠标的位置: {{ pos }}</p>
    </div>
    <input type="text" @keydown.a.b.enter="keydown">
  </div>

  <script>
    let vm = new Vue({
      el: '.app', // vue挂载的元素
      data: { // 定义数据
        show: false,
        pos: {
          x: 0,
          y: 0
        }
      },
      methods: { // 定义方法
        keydown(e) {
          console.log('按下回车', e.target.value)
        },
        mouseenter() {
          this.show = true
        },
        mouseleave() {
          this.show = false
        },
        mousemove(user, e) {
          console.log(user)
          this.pos = {
            x: e.pageX,
            y: e.pageY
          }
        }
      }
    })

    console.log(vm)
  </script>
</body>
</html>