<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
  }
</style>
<body>
  <div class="app">
    <p>姓名：<input type="text" v-model.lazy="form.user"></p>
    <p>年龄：<input type="text" v-model.number="form.age"></p>
    <p>地址：
      <select v-model="form.address">
        <option value="">请选择</option>
        <option value="beijing">北京</option>
        <option value="shanghai">上海</option>
        <option value="guangzhou">广州</option>
      </select>
    </p>
    <p>
      性别：
      <input type="radio" name="sex" value="男" v-model="form.sex">男
      <input type="radio" name="sex" value="女" v-model="form.sex">女
    </p>
    <p>
      已婚：<input type="checkbox" value="married" v-model="form.married">
    </p>
    <p>
      备注：<textarea v-model.trim="form.remark"></textarea>
    </p>
    <div>爱好:
      <p><input type="checkbox" value="唱歌" v-model="form.hobby">唱歌</p>
      <p><input type="checkbox" value="跳舞" v-model="form.hobby">跳舞</p>
      <p><input type="checkbox" value="rap" v-model="form.hobby">rap</p>
      <p><input type="checkbox" value="篮球" v-model="form.hobby">篮球</p>
    </div>
    <button @click="submit">提交</button>
    {{ form }}
  </div>

  <script>
    let vm = new Vue({
      el: '.app',
      data: {
        form: {
          user: '小明',
          age: 100,
          address: 'guangzhou',
          sex: '女',
          married: false,
          remark: '',
          hobby: []
        }
      },
      methods: {
        submit() {
          console.log('调接口', this.form)
        }
      }
    })

    console.log(vm)
  </script>
</body>
</html>