.bottle {
  width: calc((100% - 60px) / 4);
  background: #1a1b1e;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-radius: 10px;
  position: relative;
  border: 2px solid transparent;
  &:hover {
    img {
      :global {
        animation: wobble;
        animation-duration: 1s;
      }
    }
  }
  img {
    height: 160px;
  }
  h3 {
    color: #cfcece;
    height: 50px;
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
  }
  p {
    color: #787de6;
  }
  .btn {
    color: #cfcece;
    text-align: center;
    background: #2a2b2f;
    font-size: 14px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    cursor: pointer;
  }
  .icon {
    position: absolute;
    right: 20px;
    top: 16px;
    color: #cfcece;
    cursor: pointer;
    z-index: 9;
  }
}
.active {
  border: 2px solid #5b61d5;
  .icon {
    color: #5b61d5;
  }
}

:global {
  // 在局部样式中修改全局样式
  // .wrap {
  //   background: red;
  // }
}
