<template>
  <div>
    <h3>test组件</h3>
    <button @click="num++">按钮点击{{num}}</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: 0
    }
  }
}
</script>

<style>

</style>
