<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <script src="./vue2.js"></script> -->
  <script src="./vue3.js"></script>
</head>
<body>
  <div class="app">
    <h2>{{ title }}</h2>
  </div>
</body>
</html>
<script>
  // let vm = new Vue({
  //   el: '.app',
  //   data: {
  //     num: 0,
  //     title: 'aaaa'
  //   }
  // })
  // console.log(vm)

  // const { createApp } = Vue
  // let vm = createApp({
  //   data() {
  //     return {
  //       title: 'Hello Vue!'
  //     }
  //   }
  // }).mount('.app')
  // console.log(vm)


  let obj = {
    title: '标题',
    age: 100,
    sex: '男',
  }

  // vue2 使用 Object.defineProperty 监听对象的属性修改和获取
  // // 无法监听新增的属性，需要使用 $set 添加新属性
  // // 无法监听数组的下标和length属性
  // Object.keys(obj).forEach(key => {
    // 监听对象中的属性变化
  //   let val = obj[key]
  //   Object.defineProperty(obj, key, {
  //     get () {
  //       console.log(`获取obj.${key} 属性`)
  //       return val
  //     },
  //     set (newVal) {
  //       console.log(`设置obj.${key} 属性`, newVal)
  //       val = newVal
  //     }
  //   })
  // })

  
  // vue3 使用 Proxy 代理整个对象
  // let arr = [1, 2, 3, 4, 5]
  // const map = new Map([
  //   ['aa', 'AAA'],
  //   ['bb', 'BBB'],
  //   ['cc', 'CCC']
  // ])

  let p = new Proxy(obj, {
    get (obj, key, receiver) {
      return Reflect.get(obj, key, receiver);
    },
    set (obj, key, val, receiver) {
      console.log(obj, key, val)
      return Reflect.set(obj, key, val, receiver);
    }
  })
  console.log(p)


  // console.log(Reflect)


</script>