<script setup>
import { reactive, ref, nextTick } from 'vue'

// 使用 reactive 定义对象类型变量
const person = reactive({
  name: '晓明',
  age: 20,
  sex: '男'
})

const box = reactive({
  id: 'box-id',
  class: 'box-class'
})

const addAge = () => {
  person.age ++
  nextTick(() => {
    // 等待组件更新后执行
    let p = document.querySelector('p')
    console.log(p.innerHTML)
  })
}

// 使用 ref 定义基本类型变量，创建ref对象
const num = ref(0)
const addNum = () => {
  // js 中使用变量需要通过 value 属性获取
  num.value ++
}

const title = ref('App')
const changeTitle = e => {
  console.log(e.target.value)
  title.value = e.target.value
}

const obj1 = {
  num1: ref(100),
  num2: ref(200)
}
const { num1, num2 } = obj1

</script>


<template>
  <h1>
    {{ title }}
    <input type="text" :value="title" @input="changeTitle">
    <input type="text" v-model="title">
  </h1>
  <div v-bind="box">
    <button @click="addNum">+</button> {{ num }}
  </div>
  <p>
    <button @click="addAge">add Age</button>
    {{ person }}
  </p>
  <p>num1: {{ num1 }} <button @click="num1++">+</button></p>
</template>

<style>

</style>
