* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
html, body, #root, .app {
  width: 100%;
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
}
.child {
  flex: 1;
  border-bottom: 1px solid;
  button {
    padding: 3px 6px;
  }
}
.box {
  width: 100px;
  height: 100px;
  background: red;
  position: fixed;
}