<template>
  <div class="app">
    <h1 class="animate__animated animate__bounce">动画</h1>
    <button @click="show = !show">按钮</button>
    <!-- transition: vue内置组件，可以添加过渡效果 -->
    <!-- <transition name="aa" @after-enter="afterEnter" @after-leave="afterLeave">
      <p v-if="show"></p>
    </transition> -->
    <transition
      enter-active-class="animate__animated animate__zoomInUp"
      leave-active-class="animate__animated animate__hinge"
      @after-enter="afterEnter"
      @after-leave="afterLeave"
    >
      <p v-if="show"></p>
    </transition>
  </div>
</template>

<script>

export default {
  data () {
    return {
      show: false
    }
  },
  methods: {
    afterEnter () {
      console.log('元素显示成功')
    },
    afterLeave () {
      console.log('元素隐藏成功')
    }
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
}
p {
  width: 100px;
  height: 100px;
  background: red;
}
.app {
  padding-left: 300px;
}
@keyframes rotate {
  0% {
    transform: translate(0, 200%);
  }
  40% {
    transform: translate(800px, 200%);
  }
  60% {
    transform: translate(800px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
// 显示的三个类名
.aa-enter-active {
  animation: rotate 5s linear;
}
// 隐藏时的三个类名
.aa-leave {
  transform: translateX(0);
  opacity: 1;
}
.aa-leave-active {
  transition: all 6s linear;
}
.aa-leave-to {
  transform: translateX(800px);
  opacity: 0;
}
</style>
