<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h1>{{ num }}</h1>
    <button @click="num++">+</button>
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
    </ul>
  </div>

  <script>
    let vm = new Vue({
      el: '.app',
      data: {
        num: 0,
        arr: [{ a: { b: 0 } }]
      },
      computed: {
        len() {
          return this.arr.length
        }
      },
      // 生命周期钩子函数，vue会在特定时机自动调用的函数
      // 创建阶段
      beforeCreate() {
        // 实例创建之前，和vue相关的所有内容都不可使用
        console.log('beforeCreate', this.num, this.$el)
      },
      created() {
        // 实例对象创建完成
        // 可以使用 data、computed、methods 中的数据和方法
        // 可以修改数据和请求接口
        // 但是页面还没开始渲染
        console.log('created', this.num, this.len)
        console.log('created', this.$el)
        this.timer = setInterval(() => {
          this.num ++
          console.log('定时器', this.num)
        }, 1000);
      },
      // 挂载阶段
      beforeMount() {
        // 页面挂载之前，数据可以使用页面还没有渲染，页面渲染前最后一次修改数据的机会
        console.log('beforeMount', this.$el)
      },
      mounted() {
        // 页面挂载完成,内容渲染完毕，可以操作dom元素
        console.log('mounted', this.$el)
        console.log(document.querySelector('h1'))
      },
      // 更新阶段
      beforeUpdate() {
        // 数据修改后，页面更新前
        console.log('beforeUpdate', this.num, document.querySelector('h1').innerHTML)
      },
      updated() {
        // 页面更新完成，可以获取最新的dom
        console.log('updated', this.num,  document.querySelector('h1').innerHTML)
      },
      // 销毁阶段
      beforeDestroy() {
        // 组件销毁前，可以清楚异步任务，例如清除定时器，清除原生事件
        this.num++
        console.log('beforeDestroy', this.num)
        clearInterval(this.timer)
      },
      destroyed() {
        // 组件销毁后
        // this.num++
        console.log('destroyed', this.num)
      }
    })

  </script>
</body>
</html>