<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    width: 400px;
    height: 300px;
    border-radius: 5px;
  }
</style>
<body>
  <div class="app">
    <button @click="show1 = true">弹窗1</button>
    <button @click="show2 = true">弹窗2</button>

    <my-dialog v-if="show1" title="1号弹窗" @guanbi="show1 = false" @ok="ok1"></my-dialog>
    <my-dialog v-if="show2" title="2号弹窗" @guanbi="show2 = false" @ok="ok2"></my-dialog>
  
    <my-test></my-test>
  </div>


  <script>
    // 创建全局组件
    // Vue.component('my-dialog', {
    //   props: ['title'],
    //   data() { // 定义数据，必须是一个函数
    //     return {
    //       count: 10
    //     }
    //   },
    //   template: `
    //     <div class="dialog">
    //       <div class="content">
    //         <h1>{{ title }}</h1>
    //         <div>
    //           {{count}} <button @click="count++">+</button/>
    //         </div>
    //         <div class="btns">
    //           <button @click="$emit('ok')">确定</button>
    //           <button @click="$emit('guanbi')">取消</button>
    //         </div>
    //       </div>
    //     </div>
    //   `
    // })

    Vue.component('my-test', {
      template: `
        <div class="test">
          <h2>测试组件</h2>
          <my-dialog title="测试组件的标题"></my-dialog>
        </div>
      `
    })



    const dialog = {
      props: ['title'],
      data() { // 定义数据，必须是一个函数
        return {
          count: 10
        }
      },
      template: `
        <div class="dialog">
          <div class="content">
            <h1>{{ title }}</h1>
            <div>
              {{count}} <button @click="count++">+</button/>
            </div>
            <div class="btns">
              <button @click="$emit('ok')">确定</button>
              <button @click="$emit('guanbi')">取消</button>
            </div>
          </div>
        </div>
      `
    }

    let vm = new Vue({
      el: '.app',
      data: {
        show1: false,
        show2: false
      },
      methods: {
        ok1() {
          alert('弹窗1提交成功')
          this.show1 = false
        },
        ok2() {
          alert('弹窗2提交成功')
          this.show2 = false
        }
      },
      components: {
        // 注册局部组件
        'my-dialog': dialog
      }
    })


  </script>
</body>
</html>