<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <button @click="num ++">+</button>
    <p :style="{ color: color }">{{ num  }}</p>
    <hr />
    <p><input type="text" v-model="fistName">{{fistName}}</p>
    <p><input type="text" v-model="lastName">{{lastName}}</p>
    <p>fullname: {{ fullname }}</p>
  </div>

  <script>
    let vm = new Vue({
      el: '.app',
      data: {
        num: 0,
        textColor: '',
        lastName: 'lastName',
        fistName: 'fistName'
      },
      computed: {
        color() {
          if (this.textColor) return this.textColor
          if (this.num <= 5) {
            return 'red'
          } else if (this.num > 5 && this.num <= 10) {
            return 'orange'
          } else if (this.num > 10 && this.num <= 15) {
            return 'green'
          } else if (this.num > 15 && this.num <= 20) {
            return 'blue'
          }
        },
        fullname: {
          set(val) {
            console.log('要修改fullname', val)
            this.fistName = val[0]
            this.lastName = val.slice(1)
          },
          get() {
            console.log('获取fullname')
            return this.fistName + '-' + this.lastName
          }
        }
      }
    })

  </script>
</body>
</html>