<template>
  <!-- 组件只能够有一个根元素，根元素不能有同级元素，也不能在根元素上使用 v-for -->
  <div class="app">
    <h1>props校验</h1>
    <Test />
    <Child1 />
  </div>
</template>

<script>
import Test from './components/Test.vue'
import Child1 from './components/Child1.vue'
export default {
  data () {
    return {
    }
  },
  methods: {
  },
  components: {
    Test,
    Child1
  }
}
</script>

<style lang="scss">
.app {
  background: #ccc;
}
</style>
