<script setup>
import { reactive, ref, nextTick, computed, onMounted, onUpdated } from 'vue'

// 使用 reactive 定义对象类型变量
const person = reactive({
  name: '晓明',
  age: 20,
  sex: '男'
})

const addAge = () => {
  person.age ++
  nextTick(() => {
    // 等待组件更新后执行
    let p = document.querySelector('p')
    console.log(p.innerHTML)
  })
}

// 使用 ref 定义基本类型变量，创建ref对象
const num = ref(0)
const addNum = () => {
  // js 中使用变量需要通过 value 属性获取
  num.value ++
}

const title = ref('App')
const changeTitle = e => {
  console.log(e.target.value)
  title.value = e.target.value
}

const total = computed(() => {
  return (person.age + num.value + title.value.length).toFixed(2)
})
// js中使用计算属性也需要通过 value 获取值
console.log(total.value)


const inp = ref('')
const arr = reactive([1, 2, 3, 4, 5])
const addArr = () => {
  arr.push(inp.value)
  inp.value = ''
}

onMounted(() => {
  console.log('组件挂载完成', document.querySelector('h1'))
})

onUpdated(() => {
  console.log('组件更新了')
})


</script>


<template>
  <h1>
    {{ title }}
    <input type="text" :value="title" @input="changeTitle">
    <input type="text" v-model="title">
  </h1>
  <div>
    <button @click="addNum">+</button> {{ num }}
  </div>
  <p>
    <button @click="addAge">add Age</button>
    {{ person }}
  </p>
  <p>total: {{ total }}</p>
  <hr />
  <input type="text" v-model="inp">
  <button @click="addArr">添加数据</button>
  <button @click="arr.splice(0, arr.length)">清空</button>
  <ul>
    <li v-for="item in arr" :key="item">{{ item }}</li>
  </ul>
</template>

<style>

</style>
