<script setup>
import { ref, reactive, computed } from 'vue'
const type = ref(1)
const curIndex = ref(0)
const tabs = reactive([
  {
    title: '工作材料',
    color: '#af4d98',
    desc: [
      'Productize. Optics accountable talk. Thought shower. High performance keywords market-facing drink from the firehose, or you better eat a reality sandwich before you walk back in that boardroom, but accountable talk knowledge process outsourcing.',
      'What\'s our go to market strategy? cross functional teams enable out of the box brainstorming nor zeitgeist viral engagement. Deep dive. Organic growth quick sync, feed the algorithm.'
    ]
  },
  {
    title: '食物',
    color: '#d66ba0',
    desc: [
      'I love cheese, especially the big cheese gouda. Monterey jack red leicester roquefort cheese and wine fromage frais smelly cheese melted cheese dolcelatte. Fromage smelly cheese manchego paneer cheese and wine danish fontina macaroni cheese red leicester.',
      'Stilton fondue queso emmental when the cheese comes out everybody\'s happy croque monsieur queso paneer. Say cheese pecorino swiss boursin halloumi cottage cheese taleggio boursin.'
    ]
  },
  {
    title: '烘烤',
    color: '#e5a9a9',
    desc: [
      'Cupcake ipsum dolor sit amet jujubes tart. Tiramisu icing gingerbread halvah cake. Marzipan cake soufflé cookie brownie ice cream cupcake. Dragée croissant bonbon ice cream oat cake jelly cookie. Wafer candy dessert jelly jelly-o.',
      'Oat cake donut powder pastry wafer brownie cupcake caramels bear claw. Bonbon caramels oat cake cake shortbread. Cake cheesecake candy icing bear claw marshmallow icing jelly. Halvah biscuit pudding danish cookie bonbon gummies.'
    ]
  },
  {
    title: '猫咪',
    color: '#6cb6bb',
    desc: [
      'Miaow then turn around and show you my bum flee in terror at cucumber discovered on floor. Terrorize the hundred-and-twenty-pound rottweiler and steal his bed, not sorry sleep on dog bed, force dog to sleep on floor and grab pompom in mouth and put in water dish cats are fats i like to pets them they like to meow back present belly, scratch hand when stroked.',
      'Bleghbleghvomit my furball really tie the room together love asdflkjaertvlkjasntvkjn (sits on keyboard) but bawl under human beds.'
    ]
  }
])

const curColor = computed(() => {
  return type.value === 1 ? tabs[curIndex.value].color : '#fee9a5'
})
</script>

<template>
  <header>
    <p>
      <input type="radio" name="color" id="multiple" :value="1" v-model="type">
      <label for="multiple">多色</label>
    </p>
    <p>
      <input type="radio" name="color" id="simple" :value="0" v-model="type">
      <label for="simple">单色</label>
    </p>
  </header>
  <main>
    <div class="tabnav">
      <div
        v-for="(item, index) in tabs"
        :key="item.color"
        :class="['navitem', { active: curIndex === index }]" 
        :style="{ background: type === 1 ? item.color : '#fee9a5' }"
        @click="curIndex = index"
      >
        <span>{{ item.title }}</span>
      </div>
    </div>
    <div class="tablist" :style="{ background: curColor }">
      <div class="content">
        <p v-for="item in tabs[curIndex].desc" :key="item">{{ item }}</p>
      </div>
    </div>
  </main>
</template>

<style lang='scss' scoped>
header {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  p {
    margin: 0 20px;
    color: #fff;
    font-size: 20px;
  }
}
main {
  width: 80%;
  margin: 0 auto;
  p {
    margin-bottom: 20px;
    line-height: 20px;
  }
}
.tablist {
  background: #d66ba0;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 10px;
}
.content {
  padding: 1rem;
  border: 1px solid #000;
  background-color: #f9f9f9;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(#e4e4e4 1px, transparent 1px);
  background-size: 8% 8%, 2px 2px;
}
.tabnav {
  display: flex;
  padding-left: 20px;
  .navitem {
    width: 108px;
    height: 48px;
    cursor: pointer;
    span {
      display: inline-block;
      width: 96px;
    }
  }
  .active {
    span {
      background: #ffffff;
    }
  }
}
</style>
