<template>
  <div class="cart">
    <van-contact-card
      :type="cardType"
      :name="curAddress.name"
      :tel="curAddress.tel"
      @click="onEdit"
    />
    <van-empty description="购物车中空空如也" v-if="cartList.length === 0" />
    <template v-else>
      <van-cell-group>
        <van-cell title="多点超市">
          <template v-slot:icon>
            <van-icon @click="changeAll" size="20" name="checked" :color="checkedAll ? '#ee0a24' : '#333'" />
          </template>
        </van-cell>
        <van-cell
          v-for="item in cartList"
          :key="item.wareId"
          :title="item.wareName"
          center
        >
          <van-stepper
            :value="item.wareCount"
            :min="0"
            async-change
            @change="changeCount(item.wareId, $event)"
          />
          <template v-slot:label>
            <b :style="{ fontSize: '16px', color: '#333' }"
              >¥{{ item.warePrice / 100 }}</b
            >
          </template>
          <template v-slot:icon>
            <van-icon
              @click="changeCartChecked(item.wareId)"
              size="20"
              name="checked"
              :color="item.wareChecked ? '#ee0a24' : '#333'"
            />
          </template>
        </van-cell>
      </van-cell-group>
      <van-submit-bar
        :disabled="total.count === 0"
        text-align="left"
        suffix-label="(不含运费)"
        :price="total.price"
        button-text="提交订单"
        @submit="onSubmit"
      />
    </template>
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex'

export default {
  data () {
    return {
      checkedAll: false
    }
  },
  computed: {
    ...mapState('address', ['curAddress']),
    ...mapState('cart', ['cartList']),
    ...mapGetters('cart', ['total']),
    cardType () {
      return this.curAddress.name ? 'edit' : 'add'
    }
  },
  watch: {
    // 监听购物车列表改变
    cartList: {
      handler () {
        this.checkedAll = this.cartList.every(item => item.wareChecked)
      },
      deep: true, // 深度监听
      immediate: true // 进入页面立即执行一次
    }
  },
  methods: {
    ...mapMutations('cart', ['changeCartCount', 'changeCartChecked', 'changeAllChecked']),
    onEdit () {
      this.$router.push('/address')
    },
    onSubmit () {
      this.$toast('提交成功')
    },
    changeCount (wareId, value) {
      // 商品数量为0时提示确认删除
      if (value === 0) {
        this.$dialog
          .confirm({
            title: '确认删除该商品？'
          })
          .then(() => {
            this.changeCartCount({ wareId, value })
          })
      } else {
        this.changeCartCount({ wareId, value })
      }
    },
    // 全选
    changeAll () {
      this.checkedAll = !this.checkedAll
      this.changeAllChecked(this.checkedAll)
    }
  }
}
</script>

<style lang="scss" scoped>
.cart {
  height: 100%;
  overflow: auto;
  background: #eeeeee;
  ::v-deep .van-cell__title {
    margin-left: 10px;
  }
}
.van-contact-card {
  margin-bottom: 15px;
}
.van-submit-bar {
  position: inherit;
}
</style>
