@import './font/iconfont.css';
@import 'animate.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  width: 100%;
  height: 100%;
  background: #2a2b2f;
}
.wrap {
  width: 100%;
  height: 100%;
  padding: 0 10%;
  overflow: auto;
  margin: 0 auto;
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
  }
}
