<template>
  <div class="box">
    <h2>{{ goodsName }}</h2>
    <p>价格：¥{{ goodsPrice }}</p>
    <button @click="sub">-</button>
    <b>{{ goodsCount }}</b>
    <button @click="$emit('addCount', goodsIndex)">+</button>
    小计：{{ goodsPrice * goodsCount }}
  </div>
</template>

<script>
export default {
  // 接受父组件传过来的变量
  props: ['goodsName', 'goodsPrice', 'goodsCount', 'goodsIndex'],
  data () {
    return {
    }
  },
  methods: {
    sub () {
      if (this.goodsCount <= 0) {
        return
      }
      // 调用自定义事件执行父组件的方法，给父组件的方法传参数
      this.$emit('subCount', this.goodsIndex)
    }
  }
}
</script>

<style lang="scss">
.box {
  border: 1px solid red;
  b {
    margin: 0 10px;
  }
}
</style>
