* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body, #root, .app {
  width: 100%;
  height: 100%;
}
header {
  background: skyblue;
  height: 40px;
  display: flex;
}
header a {
  flex: 1;
  text-align: center;
  line-height: 40px;
}
a.checked {
  color: #ffffff;
  background: orange;
}