.editor {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  &:hover {
    border-color: #40a9ff;
  }
}
.fail {
  border-color: #ff7875;
  box-shadow: 0 0 0 2px rgb(255 77 79 / 20%);
  &:hover {
    border-color: #ff7875;
  }
}
