.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.money {
  border: 1px solid #cccccc;
  border-radius: 5px;
  position: relative;
}
.money .tip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s linear;
}
.green {
  color: green;
  transform: translateY(-100%);
}
.red {
  color: red;
  transform: translateY(-100%);
}
.dice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dice-item {
  box-sizing: border-box;
  width: 200rpx;
  height: 200rpx;
  background: #e7e7e7;
  margin: 40rpx;
  border-radius: 10%;
  box-shadow: inset 0 5px white, inset 0 -5px #bbb, inset 5px 0 #d7d7d7, inset -5px 0 #d7d7d7;
  display: flex;
  padding: 30rpx;
}
.dot {
  width: 40rpx;
  height: 40rpx;
  background: #333333;
  border-radius: 50%;
}
.dice1 {
  justify-content: center;
  align-items: center;
}
.dice2 {
  justify-content: space-between;
}
.dice2 .dot:last-of-type {
  align-self: flex-end;
}
.dice3 {
  justify-content: space-between;
}
.dice3 .dot:last-of-type {
  align-self: flex-end;
}
.dice3 .dot:nth-child(2) {
  align-self: center;
}
.dice4, .dice6 {
  flex-wrap: wrap;
  align-content: space-between;
}
.dice4 .dot:nth-child(odd), .dice6 .dot:nth-child(odd) {
  margin-right: 30px;
}
.dice5 {
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
.dice5 .dot:nth-child(3) {
  margin: 0 25px;
}
.chip {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  width: 110px;
  height: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.left image {
  width: 50px;
  height: 50px;
}
.right {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: yellow;
  position: relative;
}
.right image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.chip-money {
  position: relative;
}
.footer {
  display: flex;
}
.footer button {
  height: 100px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e7e7e7
}