<script setup>
import { reactive, ref, nextTick, computed, watch, watchEffect, onMounted, onUpdated } from 'vue'

const title = ref('App')
const inp = ref(null)

const changeTitle = () => {
  console.log(inp.value) // 获取dom元素
  title.value = inp.value.value
}

</script>


<template>
  <h1>{{ title }}</h1>
  <input type="text" ref="inp">
  <button @click="changeTitle">修改标题</button>
</template>

<style>

</style>
