<template>
  <div class="app">
    <main>
      <router-view />
    </main>
    <footer>
      <router-link to="/movie">电影</router-link>
      <router-link to="/cinema">影院</router-link>
      <router-link to="/mine">我的</router-link>
    </footer>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body, .app {
  width: 100%;
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
  }
  footer {
    height: 50px;
    border-top: 1px solid #ccc;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      line-height: 50px;
    }
  }
}
.router-link-exact-active {
  background: orange;
  color: #fff;
}
</style>
