<script>
import { reactive } from 'vue'
export default {
  data () {
    return {
      num: 0,
      obj: {
        id: 'box-id',
        class: 'box-class'
      }
    }
  },
  methods: {
    add () {
      this.num ++
      this.person.age ++
    }
  },
  setup() {
    const person = reactive({
      name: '晓明',
      age: 20,
      sex: '男'
    })

    // return 的变量会挂载到 this 上
    return {
      person
    }
  }
}

</script>


<template>
  <h1>App</h1>
  <div v-bind="obj">
    <button @click="add">+</button> {{ num }}
  </div>
  {{ person }}
</template>

<style>

</style>
