<template>
  <div class="row">
    <span>{{ label }}：</span>
    <input type="text" :value="value" @input="change">
  </div>
</template>

<script>
export default {
  props: ['label', 'value'],
  methods: {
    change (e) {
      // 调用父组件自定义事件
      this.$emit('input', e.target.value)
    }
  }
}
</script>

<style lang="scss">
.row {
  display: flex;
  margin-bottom: 10px;
  span {
    width: 100px;
    text-align: right;
    margin-right: 12px;
  }
}
</style>
