<template>
  <div class="login">
    <el-row>
      <el-col :span="12">
        <div class="desc">
          <h2>设备管理系统</h2>
          <p>
            运营与管控一体化的整合式服务平台一起解构数字世界，碰撞科技创新思想
          </p>
        </div>
      </el-col>
      <el-col :span="12">
        <el-form
          :model="ruleForm"
          :rules="rules"
          ref="ruleForm"
          class="login-form"
        >
          <el-form-item>
            <h2>登陆</h2>
          </el-form-item>
          <el-form-item prop="name">
            <el-input prefix-icon="el-icon-user" v-model="ruleForm.name" placeholder="请输入用户名"></el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input prefix-icon="el-icon-lock" show-password v-model="ruleForm.password" placeholder="请输入密码"></el-input>
          </el-form-item>
          <el-form-item>
            <el-checkbox v-model="ruleForm.remember">记住账号</el-checkbox>
          </el-form-item>
          <el-form-item>
            <el-button :loading="loading" class="btn" type="primary" @click="submit">立即登陆</el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { login } from '@/api'

export default {
  data () {
    return {
      ruleForm: {
        name: localStorage.getItem('name'),
        password: '',
        remember: !!localStorage.getItem('name')
      },
      rules: {
        name: [
          { required: true, message: '请输入用户名', trigger: 'blur' },
          { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
        ],
        password: [
          { required: true, message: '请输入密码', trigger: 'blur' },
          { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
        ]
      },
      loading: false
    }
  },
  methods: {
    async login () {
      this.loading = true
      const { name, password, remember } = this.ruleForm
      const res = await login({ name, password })
      if (res.data.code === 0) {
        localStorage.setItem('token', res.data.token)
        this.$message.success('登陆成功')
        const path = this.$route.query.redirect ? decodeURIComponent(this.$route.query.redirect) : '/'
        this.$router.push(path)
        // 记住账号
        if (remember) {
          localStorage.setItem('name', name)
        } else {
          localStorage.removeItem('name')
        }
      } else {
        this.$message.error('登陆失败')
      }
      this.loading = false
    },
    async submit () {
      try {
        // 校验表单
        await this.$refs.ruleForm.validate()
        // 调用登陆接口
        this.login()
      } catch (e) {
        console.log(e)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.login {
  // 100vw === 屏幕的宽度
  // 100vh === 屏幕的高度
  width: 100vw;
  min-width: 1200px;
  height: 100vh;
  background-image: url(https://img.alicdn.com/tfs/TB1cpTewMHqK1RjSZFEXXcGMXXa-2872-1580.png);
  background-size: cover;
}
.el-row {
  height: 100%;
}
.el-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.desc {
  color: #ffffff;
  width: 250px;
}
.login-form {
  background: #ffffff;
  padding: 24px;
  border-radius: 10px;
  width: 350px;
  h2 {
    text-align: center;
  }
}
.btn {
  width: 100%;
}
</style>
