<script setup>
import { provide, reactive, ref, nextTick, computed, watch, watchEffect, onMounted, onUpdated } from 'vue'
import Child1 from './components/Child1.vue';

const num = ref(0)
provide('num', num)
provide('num1', 100)
provide('num2', 200)
provide('num3', 300)

</script>

<template>
  <h1>App组件</h1>
  <button @click="num++">+</button>
  <hr>
  <Child1 />
</template>

<style>

</style>
