<script setup>
import { reactive, ref, nextTick, computed, watch, watchEffect, onMounted, onUpdated } from 'vue'

// 使用 reactive 定义对象类型变量
const person = reactive({
  name: '晓明',
  age: 20,
  sex: '男',
  info: {
    a: {
      b: {
        c: 0
      }
    }
  }
})

const addAge = () => {
  person.age ++
  nextTick(() => {
    // 等待组件更新后执行
    let p = document.querySelector('p')
    // console.log(p.innerHTML)
  })
}

// 使用 ref 定义基本类型变量，创建ref对象
const num = ref(0)
const addNum = () => {
  // js 中使用变量需要通过 value 属性获取
  num.value ++

  person.info.a.b.c ++
}

const title = ref('App')
const changeTitle = e => {
  console.log(e.target.value)
  title.value = e.target.value
}

const total = computed(() => {
  return (person.age + num.value + title.value.length).toFixed(2)
})
// js中使用计算属性也需要通过 value 获取值
console.log(total.value)


const inp = ref('')
const arr = reactive([1, 2, 3, 4, 5])
const addArr = () => {
  arr.push(inp.value)
  inp.value = ''
}

// watch(num, (newNum, oldNum) => {
//   console.log('num 改变了', newNum, oldNum)
// })
// watch([num, title], ([newNum, newTitle], [oldNum, oldTitle]) => {
//   console.log('num 或 title 改变了', newNum, newTitle)
// })
// watch(() => person.age, (newAge, oldAge) => {
//   console.log('person.age 改变了', newAge, oldAge)
// })
// 自动深度监听
// watch(person, (newAge, oldAge) => {
//   console.log('person 改变了', newAge, oldAge)
// })

// 深度监听,和进入页面立即执行一次
watch(
  () => person.info,
  () => {
    console.log('person.info改变了')
  },
  { deep: true, immediate: true }
)

// 自动监听函数内使用的变量
watchEffect(() => {
  console.log('num改变了', num.value)
  console.log('num的innerHTML', document.querySelector('.num')?.innerHTML)
}, {
  // 让回调函数在页面更新之后执行
  flush: 'post'
})


</script>


<template>
  <h1>
    {{ title }}
    <input type="text" :value="title" @input="changeTitle">
    <input type="text" v-model="title">
  </h1>
  <div>
    <button @click="addNum">+</button>
    <span class="num">{{ num }}</span>
  </div>
  <p>
    <button @click="addAge">add Age</button>
    {{ person }}
  </p>
  <p>total: {{ total }}</p>
  <hr />
  <input type="text" v-model="inp">
  <button @click="addArr">添加数据</button>
  <button @click="arr.splice(0, arr.length)">清空</button>
  <ul>
    <li v-for="item in arr" :key="item">{{ item }}</li>
  </ul>
</template>

<style>

</style>
