<template>
  <div class="city">
    <Search @search="startSearch" @cancel="showRes = false" />
    <main>
      <SearchResult v-if="showRes" :list="searchResList" />
      <CityList v-else :list="list" />
    </main>
  </div>
</template>

<script>
import axios from 'axios'
import Search from '../components/Search.vue'
import SearchResult from '../components/SearchResult.vue'
import CityList from '../components/CityList.vue'

export default {
  data () {
    return {
      cities: [], // 接口原数据
      list: [], // 渲染的楼层列表
      showRes: false, // 搜索结果
      searchResList: [] // 搜索结果列表
    }
  },
  methods: {
    // 根据子组件传过来的数据搜索
    startSearch (searchText) {
      this.showRes = true
      if (searchText) {
        this.searchResList = this.cities.filter(v => v.name.includes(searchText) || v.pinyin.includes(searchText))
      } else {
        this.searchResList = []
      }
    }
  },
  async created () {
    const res = await axios.get('/api/city')
    const cities = res.data.data.cities
    this.cities = cities
    const hot = {
      type: '热门城市',
      isHot: true,
      children: []
    }
    cities.forEach(item => {
      const first = item.pinyin[0].toUpperCase()
      const curType = this.list.find(v => v.type === first)
      if (curType) {
        curType.children.push(item)
      } else {
        this.list.push({
          type: first,
          children: [item]
        })
      }
      if (item.isHot === 1) {
        hot.children.push(item)
      }
    })
    this.list.sort((c, b) => {
      return c.type.charCodeAt() - b.type.charCodeAt()
    })
    this.list.unshift(hot)
  },
  components: {
    Search,
    SearchResult,
    CityList
  }
}
</script>

<style lang="scss">
.city {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
  }
}
</style>
