<template>
  <div>
    <h3>推荐电影</h3>
    <router-link to="/detail/6112">万里归途</router-link>
    <hr />
    <h1>{{ info.name }}</h1>
    <img :src="info.poster" alt="">
    {{ info }}
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      info: {}
    }
  },
  methods: {
    async getInfo () {
      const res = await axios.get('/hot/detail', {
        params: {
          filmId: this.$route.params.filmId
        }
      })
      this.info = res.data.data
    }
  },
  async created () {
    // this.$route: 当前地址栏信息对象
    // 获取 query 参数
    // console.log(this.$route.query)
    // console.log(this.$route)
    // // 获取动态路由参数
    // console.log(this.$route.params)
    this.getInfo()
  },
  beforeRouteEnter (to, from, next) {
    // 在渲染该组件的对应路由被 confirm 前调用
    // 不！能！获取组件实例 `this`
    // 因为当守卫执行前，组件实例还没被创建
    console.log('组件内守卫，要跳转详情页了')
    next()
  },
  beforeRouteUpdate (to, from, next) {
    // 在当前路由改变，但是该组件被复用时调用
    // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
    // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
    // 可以访问组件实例 `this`
    next()
    console.log('详情页更新了')
    this.getInfo()
  },
  beforeRouteLeave (to, from, next) {
    // 导航离开该组件的对应路由时调用
    // 可以访问组件实例 `this`
    // next()
    const flag = window.confirm('确定要离开此页面吗')
    if (flag) {
      next()
    } else {
      next(from)
    }
  }
}
</script>

<style>

</style>
