<template>
  <div class="home">
    <main>
      <!-- <transition name="slide"> -->
      <router-view />
      <!-- </transition> -->
    </main>
    <footer>
      <router-link to="/movie">电影</router-link>
      <router-link to="/cinema">影院</router-link>
      <router-link to="/news">咨询</router-link>
      <router-link to="/mine">我的</router-link>
    </footer>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.slide-enter, .slide-leave-to {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(100%);
}
.slide-leave-to {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(-100%);
}
.slide-enter-active, .slide-leave-active {
  transition: transform 1s linear;
}
.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
  }
  footer {
    line-height: 40px;
    height: 40px;
    border-top: 1px solid #ccc;
    display: flex;
    a {
      flex: 1;
      text-align: center;
    }
    .router-link-active {
      background: orange;
    }
  }
}
</style>
