<template>
  <div class="movie" @scroll="scroll">
    <header v-show="showHeader">
      <h2>
        <router-link to="/city">{{ city }}</router-link>
        电影
      </h2>
      <nav>
        <router-link to="/movie/hot">正在热映</router-link>
        <router-link to="/movie/coming">即将上映</router-link>
      </nav>
    </header>
    <nav>
      <router-link to="/movie/hot">正在热映</router-link>
      <router-link to="/movie/coming">即将上映</router-link>
    </nav>
    <router-view />
  </div>
</template>

<script>
export default {
  data () {
    return {
      showHeader: false,
      city: localStorage.getItem('city') || '选择城市'
    }
  },
  methods: {
    scroll (e) {
      const { scrollTop, clientHeight, scrollHeight } = e.target
      if (scrollTop >= 200) {
        this.showHeader = true
      } else {
        this.showHeader = false
      }
      if (scrollTop + clientHeight + 1 >= scrollHeight) {
        console.log('滚动到底部了～')
        this.$bus.$emit('changePage')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.movie {
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  h2 {
    line-height: 45px;
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    position: relative;
    a {
      position: absolute;
      left: 10px;
      top: 0;
      height: 45px;
      padding: 0 10px;
    }
  }
}
nav {
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  display: flex;
  a {
    flex: 1;
    text-align: center;
    color: #333;
  }
  .router-link-active {
    color: orange;
  }
}
</style>
