<template>
  <div class="app">
    <main>
      <Keyboard :list="list" @change="setCurMusic" :flag="flag" />
      <Controller :title="curMusic.id" :flag="flag" @changeFlag="changeFlag" @setVolume="setVolume" />
    </main>
    {{ curMusic }}
    <audio :src="curMusic.url" autoplay ref="audio"></audio>
  </div>
</template>

<script>
import axios from 'axios'
import Keyboard from './components/Keyboard.vue'
import Controller from './components/Controller.vue'

export default {
  data () {
    return {
      list: [],
      curMusic: {}, // 当前播放的音乐
      flag: true // 开关
    }
  },
  methods: {
    setCurMusic (info) {
      this.curMusic = info
      this.$refs.audio.load()
    },
    changeFlag () {
      this.flag = !this.flag
      if (!this.flag) {
        this.curMusic = {}
      }
    },
    setVolume (volume) {
      this.$refs.audio.volume = volume
    }
  },
  created () {
    axios.get('/api/list').then(res => {
      this.list = res.data
    })
  },
  components: {
    Keyboard,
    Controller
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, .app {
  width: 100%;
  height: 100%;
  background: #ccc;
}
main {
  border: 5px solid orange;
  margin: 150px auto;
  padding: 20px;
  width: 800px;
  display: flex;
  justify-content: space-between;
}
</style>
