<template>
  <transition name="fade" @before-enter="conShow = true" @after-leave="$emit('update:visible', false)">
    <div class="cartlist" v-if="markShow" @click.self="conShow = false">
      <transition name="slide" @before-leave="markShow = false">
        <div class="con" v-if="conShow">
          <h3>购物车 <span @click="$emit('clear')">清空</span></h3>
          <ul>
            <li
              v-for="item in cartlist"
              :key="item.name"
            >
              <div class="name">{{ item.name }}</div>
              <div class="btns">
                <p>¥{{item.price}}</p>
                <button @click="$emit('change', item, -1)">-</button>
                <span>{{ item.count }}</span>
                <button @click="$emit('change', item, 1)">+</button>
              </div>
            </li>
          </ul>
        </div>
      </transition>
    </div>
  </transition>
</template>

<script>
export default {
  props: ['visible', 'cartlist'],
  data () {
    return {
      conShow: false,
      markShow: false
    }
  },
  watch: {
    visible () {
      if (this.visible) {
        this.markShow = true
      } else {
        this.conShow = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.cartlist {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 48px;
  background: rgba($color: #000000, $alpha: .5);
  overflow: hidden;
}
.con {
  // 相对于有定位的父级元素
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  h3 {
    background: #f3f5f7;
    height: 40px;
    line-height: 40px;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    color: #333;
    font-size: 14px;
    font-weight: normal;
    span {
      color: #00a0dc;
      font-size: 12px;
    }
  }
}
li {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.btns {
  display: flex;
  text-align: center;
  p {
    color: tomato;
    padding: 0 10px;
  }
  button {
    width: 20px;
    height: 20px;
    background: #00a0dc;
    color: #fff;
    border: none;
    border-radius: 50%;
  }
  span {
    width: 22px;
  }
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s linear;
}
.slide-enter, .slide-leave-to {
  transform: translateY(100%);
}
.slide-enter-active, .slide-leave-active {
  transition: transform 1s linear;
}
</style>
