<template>
  <el-dialog :title="title" :visible="visible" @close="$emit('update:visible', false)">
    <el-form :model="form" :rules="rules" ref="form" label-width="60px">
      <el-form-item label="姓氏" prop="firstName">
        <el-input v-model="form.firstName" placeholder="请输入姓氏" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="名字" prop="lastName">
        <el-input v-model="form.lastName" placeholder="请输入名字" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="年龄" prop="age">
        <el-input v-model.number="form.age" placeholder="请输入年龄" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="性别" prop="sex">
        <el-select v-model="form.sex" placeholder="请选择性别">
          <el-option label="男" :value="1"></el-option>
          <el-option label="女" :value="0"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="邮箱" prop="email">
        <el-input v-model="form.email" placeholder="请输入邮箱" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="地址" prop="address">
        <el-cascader v-model="form.address" :options="options"></el-cascader>
      </el-form-item>
      <el-form-item label="图片" prop="image">
        <el-upload
          class="avatar-uploader"
          action="/mqq/api/upload"
          :show-file-list="false"
          :on-success="handleAvatarSuccess"
          :before-upload="beforeAvatarUpload"
        >
          <img v-if="form.image" :src="form.image" class="avatar" />
          <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="$emit('update:visible', false)">取 消</el-button>
      <el-button @click="submit" type="primary">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
import { addUser, updateUser } from '@/api'
import { areaList } from '@vant/area-data'

const formatAddressOption = (areaList) => {
  const findCity = (parent, list, end) => {
    return Object.entries(list).filter(([value]) => value.slice(0, end) === parent).map(([value, label]) => {
      const obj = {
        label,
        value: label
      }
      if (end < 4) {
        obj.children = findCity(value.slice(0, 4), areaList.county_list, 4)
      }
      return obj
    })
  }
  const options = Object.entries(areaList.province_list).map(([value, label]) => {
    return {
      label,
      value: label,
      children: findCity(value.slice(0, 2), areaList.city_list, 2)
    }
  })
  return options
}

export default {
  props: ['visible', 'editInfo'],
  data () {
    return {
      form: {
        firstName: '',
        lastName: '',
        sex: '',
        age: '',
        email: '',
        address: '',
        image: ''
      },
      rules: {
        firstName: [
          { required: true, message: '请输入姓氏', trigger: 'change' }
        ],
        lastName: [
          { required: true, message: '请输名字姓', trigger: 'change' }
        ],
        sex: [
          { required: true, message: '请选择性别', trigger: 'change' }
        ],
        age: [
          { required: true, message: '请输年龄', trigger: 'change' },
          { type: 'number', message: '年龄必须为数字值' }
        ],
        email: [
          { required: true, message: '请输入邮箱地址', trigger: 'blur' },
          { type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }
        ],
        address: [
          { required: true, message: '请选择地址' }
        ],
        image: [
          { required: true, message: '请添加图片' }
        ]
      },
      options: formatAddressOption(areaList),
      title: '新增用户'
    }
  },
  watch: {
    visible () {
      if (this.visible) {
        // 显示弹窗时如果是点击的编辑按钮，反显内容
        if (this.editInfo) {
          this.title = '编辑信息'
          this.form = {
            ...this.editInfo,
            address: this.editInfo.address.split(' ')
          }
        } else {
          this.title = '新增用户'
        }
      } else if (!this.visible) {
        // 弹窗关闭时清空表单内容
        this.$refs.form.resetFields()
      }
    }
  },
  methods: {
    handleAvatarSuccess (res, file) {
      // 上传成功
      if (res.code === 200) {
        this.form.image = res.data.url
      } else {
        this.$message.error(res.msg)
      }
      this.$refs.form.validateField('image')
    },
    beforeAvatarUpload (file) {
      // 图片上传之前添加校验
      const imgReg = /^image\/(png|jpe?g|svg|webp)/
      if (!imgReg.test(file.type)) {
        this.$message.error('文件类型错误，只能是图片类型!')
        return false
      }
      if (file.size / 1024 / 1024 > 1) {
        this.$message.error('上传图片大小不能超过 1MB!')
        return false
      }
      return true
    },
    async add () {
      const res = await addUser({
        ...this.form,
        address: this.form.address.join(' ')
      })
      if (res.data.code === 0) {
        this.$message.success('添加成功')
        this.$emit('update:visible', false)
        this.$emit('done')
      } else {
        this.$message.error(res.data.msg)
      }
    },
    async update () {
      const res = await updateUser({
        ...this.form,
        address: this.form.address.join(' ')
      })
      if (res.data.code === 0) {
        this.$message.success('修改成功')
        this.$emit('update:visible', false)
        this.$emit('done')
      } else {
        this.$message.error(res.data.msg)
      }
    },
    submit () {
      this.$refs.form.validate((validate) => {
        if (validate) {
          if (this.editInfo) {
            this.update()
          } else {
            // 调用新增接口
            this.add()
          }
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.el-col {
  .el-select {
    width: 100%;
  }
}
.avatar-uploader {
  ::v-deep .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &:hover {
      border-color: #409EFF;
    }
  }
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
</style>
