.footer {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  button {
    padding: 3px 5px;
    border-radius: 5px;
    margin-right: 8px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  .active, button:hover {
    background: #fe7345;
    color: #ffffff;
  }
}