<script setup>
import { useCounterStore } from '../../../stores/counter'
// 引入仓库
const counter = useCounterStore()

console.log(counter)


</script>

<template>
  <div>
    <!-- <button @click="counter.count++">+</button> -->
    <button @click="counter.increment">+</button>
    {{ counter.count }}
    <p>doubleCount: {{ counter.doubleCount }}</p>
  </div>
</template>

<style lang='scss' scoped>

</style>
