<template>
  <div class="controller">
    <div class="power">
      <h3>power</h3>
      <p :class="{ off: !flag}" @click="$emit('changeFlag')"><span></span></p>
    </div>
    <h2>{{ title }}</h2>
    <div class="volume" ref="volume">
      <i
        :style="{ left: left + 'px' }"
        @mousedown="mousedown"
      ></i>
    </div>
    音量：{{ volume }}%
  </div>
</template>

<script>
export default {
  props: ['title', 'flag'],
  data () {
    return {
      left: 190,
      isDown: false,
      volume: 100
    }
  },
  mounted () {
    // 获取父元素到浏览器最左侧的距离和父元素的宽度
    const { x, width } = this.$refs.volume.getBoundingClientRect()
    document.addEventListener('mousemove', (e) => {
      if (this.isDown) {
        // 鼠标的位置 - 父元素到浏览器最左侧 = 鼠标到父元素左侧的距离
        const l = e.pageX - x
        if (l - 5 <= 0) {
          // 最小边界
          this.left = 0
        } else if (l - 5 >= width - 10) {
          // 最大边界
          this.left = width - 10
        } else {
          // 修改音量的位置
          this.left = l - 5
        }
        // 计算百分比
        this.volume = Math.floor(this.left / (width - 10) * 100)
        // 把音量传给父元素
        this.$emit('setVolume', this.left / (width - 10))
      }
    })
    document.addEventListener('mouseup', () => {
      this.isDown = false
    })
  },
  methods: {
    mousedown () {
      this.isDown = true
      console.log('按下')
    }
  }
}
</script>

<style lang="scss" scoped>
.controller {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    width: 200px;
    height: 60px;
    background: #999;
    text-align: center;
    line-height: 60px;
  }
}
.power {
  padding: 60px 0 30px;
  h3 {
    text-align: center;
  }
  p {
    width: 70px;
    height: 30px;
    background: #000;
    padding: 5px;
    span {
      display: block;
      width: 30px;
      height: 20px;
      background: blue;
    }
  }
  .off {
    span {
      float: right;
    }
  }
}
.volume {
  width: 200px;
  height: 4px;
  background: #333;
  position: relative;
  margin-top: 50px;
  i {
    position: absolute;
    top: -8px;
    left: 0;
    width: 10px;
    height: 20px;
    background: blue;
    cursor: pointer;
  }
}
</style>
