<template>
  <div class="create">
    <van-address-edit
      :area-list="areaList"
      :show-delete="!!editAddress"
      :area-columns-placeholder="['请选择', '请选择', '请选择']"
      :address-info="editAddress"
      @save="onSave"
      @delete="onDelete"
    />
  </div>
</template>

<script>
import { areaList } from '@vant/area-data'
import { mapMutations, mapState } from 'vuex'
export default {
  data () {
    return {
      areaList
    }
  },
  computed: {
    ...mapState('address', ['addressList']),
    // 根据传过来的 id 查找数据，反显表单数据
    editAddress () {
      return this.addressList.find(v => v.id === this.$route.query.id)
    }
  },
  methods: {
    ...mapMutations('address', ['addList', 'updateAddress', 'delAddress']),
    onSave (content) {
      // 保存时判断当前是编辑还是新增
      if (this.editAddress) {
        this.updateAddress(content)
        this.$toast('修改成功')
        this.$router.back()
      } else {
        this.addList(content)
        this.$toast('添加成功')
        this.$router.back()
      }
    },
    onDelete (content) {
      this.delAddress(content.id)
      this.$toast('删除成功')
      this.$router.back()
    }
  }
}
</script>

<style lang="scss" scoped>
.create {
  height: 100%;
  background: #eeeeee;
}
</style>
