@font-face {
  font-family: "iconfont"; /* Project id 3834310 */
  src: url('iconfont.woff2?t=1671588252719') format('woff2'),
       url('iconfont.woff?t=1671588252719') format('woff'),
       url('iconfont.ttf?t=1671588252719') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwucheman:before {
  content: "\e600";
}

.icon-icon_close:before {
  content: "\e62c";
}

.icon-jiajianzujianjiahao:before {
  content: "\e64d";
}

.icon-duigou:before {
  content: "\e606";
}

