<template>
  <div v-log="num">
    <button v-test @click="num++">按钮点击次数{{ num }}</button>
    <button @click="toggle">切换图片</button>
    <hr />
    <p v-border>{{ img[index] }}</p>
    <img v-if="img[index]" v-load="img[index]" alt="">
    <hr />
    <button v-copy="num">点击按钮复制</button>
    <span v-copy="img[index]">复制</span>
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: 0,
      index: 0,
      img: [
        'https://img2.baidu.com/it/u=1644941556,604602934&fm=253&fmt=auto&app=120&f=JPEG?w=1280&h=800',
        'http://www.maixiou.com/uploadfile/2015/0313/2015051411094416245.jpg',
        'http://www.maixiou.com/uploadfile/2015/0313/1111.jpg'
      ]
    }
  },
  methods: {
    toggle () {
      if (this.index + 1 > this.img.length) {
        this.index = 0
      } else {
        this.index++
      }
    }
  }
}
</script>

<style>
img {
  width: 200px;
}
</style>
