* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
  line-height: 38px;
  border: 1px dashed orange;
  text-align: center;
  background: skyblue;
}
ul {
  width: 400px;
  height: 400px;
  border: 1px solid red;
  margin: 0 auto;
  overflow: auto;
}