<template>
  <div class="app">
    <Header />
    <nav>
      <span
        v-for="(item, index) in navlist"
        :key="item.Com"
        :class="{ active: curCom === item.Com }"
        @click="changeTab(item.Com, index)"
      >{{ item.text }}</span>
      <i :style="{ transform: `translateX(${curIndex * 100}%)` }"></i>
    </nav>
    <main>
      <!-- 使用 keep-alive 缓存组件数据 -->
      <keep-alive>
        <!-- 使用动态组件展示对应的组件 -->
        <component :is="curCom"></component>
      </keep-alive>
    </main>
  </div>
</template>

<script>
// import axios from 'axios'
import Header from './components/Header.vue'
import Goods from './components/Goods.vue'
import Comments from './components/Comments.vue'
import Shop from './components/Shop.vue'

export default {
  data () {
    return {
      curCom: 'Goods',
      curIndex: 0,
      navlist: [
        {
          text: '商品',
          Com: 'Goods'
        },
        {
          text: '评论',
          Com: 'Comments'
        },
        {
          text: '商家',
          Com: 'Shop'
        }
      ]
    }
  },
  methods: {
    changeTab (com, index) {
      this.curCom = com
      this.curIndex = index
    }
  },
  created () {
    // axios.get('/mqq/sell/api/seller').then(res => {
    //   console.log(res.data)
    // })
  },
  components: {
    Header,
    Goods,
    Comments,
    Shop
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, .app {
  width: 100%;
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
}
nav {
  height: 36px;
  display: flex;
  border-bottom: 1px solid #eee;
  position: relative;
  span {
    flex: 1;
    text-align: center;
    line-height: 36px;
  }
  .active {
    color: red;
  }
  i {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% / 3);
    height: 2px;
    background: red;
    transition: transform 0.5s linear;
  }
}
main {
  flex: 1;
  overflow: hidden;
}
</style>
