* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  width: 100%;
  height: 100%;
  background: #989896;
}
.wrap {
  width: 100%;
  height: 100%;
}
.child1 {
  min-height: 500px;
  border: 3px solid tomato;
  margin-bottom: 10px;
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    width: 10%;
    height: 50px;
    background: green;
    list-style-type: none;
    margin: 10px
  }
}
.child2 {
  min-height: 300px;
  border: 3px solid orange;
}
.box {
  background: red;
  width: 200px;
  height: 200px;
}