<template>
  <!-- 组件只能够有一个根元素，根元素不能有同级元素，也不能在根元素上使用 v-for -->
  <div class="app">
    <h1>props校验</h1>
    <Child1
      :age="age"
      :married="married"
      :money="money"
    />
  </div>
</template>

<script>

export default {
  data () {
    return {
      username: '小明',
      age: 20,
      married: false,
      money: 100,
      hobby: ['唱歌', '跳舞']
    }
  },
  components: {
    Child1: () => import('./components/Child1.vue')
  }
}
</script>

<style lang="scss">
.app {
  background: #ccc;
}
.active {
  background: orange;
}
</style>
