<template>
  <div id="app">
    <h1>vue组件</h1>
    <Test />
    <Test />
    <Test />
    <Test />
  </div>
</template>

<script>
import Test from './components/Test.vue'

export default {
  data () {
    return {
    }
  },
  components: {
    Test
  }
}
</script>

<style lang="scss">

</style>
