<template>
  <div>
    <TagColor :colors="colors" :curColor="curColor" @change="changeColor" />
    <main>
      <h1><span :style="{ color: curColor }">tags</span>.css</h1>
      <p>按回车确认</p>
      <div class="tags-wrap">
        <!-- 把一个对象的所有属性都传给组件，v-bind="对象" -->
        <Tag
          v-for="item in list"
          :key="item.id"
          v-bind="item"
          :color="curColor"
          @remove="remove"
        />
        <input type="text" placeholder="add todo..." @keydown.enter="submit" />
      </div>
    </main>
  </div>
</template>

<script>
import TagColor from './components/TagColor.vue'
import Tag from './components/Tag.vue'

export default {
  data () {
    return {
      colors: ['rgb(255, 153, 85)', 'rgb(102, 170, 221)', 'rgb(238, 119, 119)', 'rgb(102, 204, 119)', 'rgb(170, 170, 170)'],
      curColor: 'rgb(255, 153, 85)', // 当前的颜色
      list: [] // 标签列表
    }
  },
  methods: {
    // 改变颜色
    changeColor (color) {
      this.curColor = color
    },
    submit (e) {
      if (e.target.value.trim() === '') return alert('内容不能为空')
      this.list.push({
        id: Date.now(),
        text: e.target.value
      })
      e.target.value = ''
    },
    remove (id) {
      this.list = this.list.filter(v => v.id !== id)
    }
  },
  components: {
    TagColor,
    Tag
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin: 30px 0 60px;
    text-align: center;
    font-size: 50px;
  }
  p {
    text-align: center;
  }
  input {
    height: 40px;
    outline: none;
    border: none;
    background: none;
  }
}
.tags-wrap {
  width: 60%;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #ccc inset;
  padding: 10px;
  background: #fafafa;
  display: flex;
  flex-wrap: wrap;
}
</style>
