<template>
  <div>
    <div class="row">
      <span>姓名：</span>
      <input type="text" :value="user" @input="$emit('update:user', $event.target.value)">
    </div>
    <div class="row">
      <span>性别：</span>
      <input type="text" :value="sex" @input="$emit('update:sex', $event.target.value)">
    </div>
    <div class="row">
      <span>年龄：</span>
      <input type="text" :value="age" @input="$emit('update:age', $event.target.value)">
    </div>
  </div>
</template>

<script>
export default {
  props: ['user', 'age', 'sex'],
  methods: {
  }
}
</script>

<style lang="scss">
.row {
  display: flex;
  margin-bottom: 10px;
  span {
    width: 100px;
    text-align: right;
    margin-right: 12px;
  }
}
</style>
