* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input, button {
  border: none;
  outline: none;
}
li {
  list-style-type: none;
}
img {
  width: 100%;
  vertical-align: middle;
}
html, body, #root, .page {
  width: 100%;
  height: 100%;
}
.home {
  display: flex;
  flex-direction: column;
  header {
    height: 70px;
    padding: 15px;
    border-bottom: 1px solid #dddddd;
    input {
      width: 100%;
      height: 100%;
      background: #dddddd;
      border-radius: 20px;
      padding: 0 20px;
    }
  }
  main {
    flex: 1;
    display: flex;
    overflow: hidden;
  }
}
.left {
  width: 100px;
  background: #dddddd;
  border-right: 1px solid #dddddd;
  p {
    text-align: center;
    line-height: 40px;
  }
  .active {
    background: #ffffff;
  }
}
.right {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
  .food {
    width: calc((100% - 80px) / 3);
    margin-left: 20px;
    margin-top: 15px;
    .img {
      width: 100%;
      padding-top: 100%;
      position: relative;
      border-radius: 6px;
      overflow: hidden;
      border: 2px solid transparent;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    p {
      text-align: center;
      line-height: 30px;
      font-size: 12px;
    }
    &.active {
      .img {
        border: 2px solid tomato;
      }
      p {
        color: tomato;
        font-weight: bold;
      }
    }
  }
}
footer {
  display: none;
  max-height: 300px;
  &.show {
    display: flex;
    flex-direction: column;
  }
}
.footer-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  a {
    text-decoration: none;
    color: #ffffff;
    background: tomato;
    border-radius: 20px;
    padding: 5px 10px;
  }
}
.list {
  flex: 1;
  overflow: auto;
  padding: 15px 20px;
  li {
    padding: 6px 12px;
    border: 1px solid #dddddd;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;
    span {
      position: absolute;
      top: -8px;
      right: -8px;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      background: #cccccc;
      color: #ffffff;
      text-align: center;
      line-height: 16px;
      font-size: 12px;
    }
  }
}

.estimate {
  display: flex;
  flex-direction: column;
  nav {
    height: 100px;
    display: flex;
    justify-content: center;
    p {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0.6;
      &.active {
        opacity: 1;
      }
    }
  }
  .content {
    flex: 1;
    overflow: auto;
    background: #eeeeee;
    .tip {
      font-weight: bold;
      text-align: center;
      padding: 15px 0;
    }
    .food-item {
      background: #ffffff;
      margin-bottom: 5px;
      padding: 10px;
    }
    .food-list {
      padding: 0 10px;
    }
  }
}