<script setup>
import { reactive, ref, nextTick, computed, watch, watchEffect, onMounted, onUpdated } from 'vue'
import Child1 from './components/Child1.vue'

const title = ref('App')
const num = ref(0)

const add = (n) => {
  num.value += n
}

</script>


<template>
  <h1>{{ title }} <input type="text" v-model="title"></h1>
  <p>num: {{ num }}</p>
  <Child1 :title="title" a="aaaa" @add="add">
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
    </ul>
  </Child1>
</template>

<style>

</style>
