<template>
  <div class="about">
    <!-- <el-table :data="tableData" style="width: 100%">
      <el-table-column prop="name" label="姓名" width="180"></el-table-column>
      <el-table-column prop="date" label="日期" width="180"></el-table-column>
      <el-table-column prop="address" label="地址"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="success" size="small">查看</el-button>
          <el-button type="permary" size="small">编辑</el-button>
          {{ scope.row.name }}
          {{ scope.row.date }}
        </template>
      </el-table-column>
    </el-table> -->
    <el-row :gutter="20">
      <el-col :span="16">
        <div class="grid-content light"></div>
      </el-col>
      <el-col :span="8">
        <div class="grid-content light"></div>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="8">
        <div class="grid-content light"></div>
      </el-col>
      <el-col :span="8">
        <div class="grid-content light"></div>
      </el-col>
      <el-col :span="4">
        <div class="grid-content light"></div>
      </el-col>
      <el-col :span="4">
        <div class="grid-content light"></div>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="4">
        <div class="grid-content light"></div>
      </el-col>
      <el-col :span="16">
        <div class="grid-content light"></div>
      </el-col>
      <el-col :span="4">
        <div class="grid-content light"></div>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="4">
        <div class="grid-content light"></div>
      </el-col>
      <el-col :span="4" :offset="4">
        <div class="grid-content light"></div>
      </el-col>
    </el-row>
    <el-row :gutter="10">
      <el-col :xs="8" :sm="6" :md="4" :lg="3" :xl="1"><div class="grid-content bg-purple"></div></el-col>
      <el-col :xs="4" :sm="6" :md="8" :lg="9" :xl="11"><div class="grid-content bg-purple-light"></div></el-col>
      <el-col :xs="4" :sm="6" :md="8" :lg="9" :xl="11"><div class="grid-content bg-purple"></div></el-col>
      <el-col :xs="8" :sm="6" :md="4" :lg="3" :xl="1"><div class="grid-content bg-purple-light"></div></el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  data () {
    return {
      tableData: [
        {
          name: '王小虎1111',
          date: '2016-05-01',
          address: '上海市普陀区金沙江路 1518 弄'
        },
        {
          name: '王小虎2222',
          date: '2016-05-02',
          address: '北京市普陀区金沙江路 1517 弄'
        },
        {
          name: '王小虎3333',
          date: '2016-05-03',
          address: '广州市普陀区金沙江路 1519 弄'
        },
        {
          name: '王小虎4444',
          date: '2016-05-04',
          address: '深圳市普陀区金沙江路 1516 弄'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
.grid-content {
  height: 40px;
  background: #ccc;
}
.light {
  background: #ccc;
}
.dark {
  background: #999;
}
.el-row {
  margin-bottom: 20px;
}
</style>
