<template>
  <div class="home">
    <el-button @click="dialogVisible = true">默认按钮</el-button>
    <el-button type="primary" size="mini">主要按钮</el-button>
    <el-button type="info" @click="open1">信息按钮</el-button>
    <el-button type="success" @click="open2">成功按钮</el-button>
    <el-button type="warning" @click="open3">警告按钮</el-button>
    <el-button type="danger" @click="open4">危险按钮</el-button>
    <el-popconfirm
      confirm-button-text='好的'
      cancel-button-text='不用了'
      icon="el-icon-info"
      icon-color="red"
      title="这是一段内容确定删除吗？"
    >
      <el-button slot="reference">删除</el-button>
    </el-popconfirm>

    <el-dialog
      title="提示"
      :visible.sync="dialogVisible"
      top="100px"
    >
      <span>这是一段信息</span>
      <template v-slot:footer>
        <el-button @click="dialogVisible = false">取消</el-button>
        <el-button type="primary">确定</el-button>
      </template>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'HomeView',
  data () {
    return {
      dialogVisible: false
    }
  },
  methods: {
    open1 () {
      this.$message('这是一条消息提示')
    },
    open2 () {
      this.$message.success('恭喜你，这是一条成功消息')
    },
    open3 () {
      this.$message({
        message: '警告哦，这是一条警告消息',
        type: 'warning'
      })
    },
    open4 () {
      this.$message.error('错了哦，这是一条错误消息')
    }
  }
}
</script>

<style lang="scss" scoped>
.home {
  height: 2000px;
}
</style>
