<template>
  <div class="login">
    <el-form
      :model="ruleForm"
      :rules="rules"
      ref="form"
      class="form"
    >
      <h2>登陆</h2>
      <el-form-item prop="tel">
        <el-input v-model="ruleForm.tel" placeholder="请输入手机号"></el-input>
      </el-form-item>
      <el-form-item prop="name">
        <el-input v-model="ruleForm.name" placeholder="请输入用户名"></el-input>
      </el-form-item>
      <el-form-item prop="password">
        <el-input v-model="ruleForm.password" show-password placeholder="请输入密码"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="login">登陆</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  data () {
    return {
      ruleForm: {
        name: '',
        password: '',
        tel: ''
      },
      rules: {
        // 表单校验规则
        name: [
          { required: true, message: '请输入用户名', trigger: 'change' },
          { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'change' }
        ],
        password: [
          { required: true, message: '请输入密码', trigger: 'change' },
          { min: 6, max: 13, message: '长度在 6 到 13 个字符', trigger: 'change' }
        ],
        tel: [
          { pattern: /^1[3-9]\d{9}$/, message: '手机号格式错误', trigger: 'change' }
        ]
      }
    }
  },
  methods: {
    async login () {
      // 获取表单组件实例对象
      // console.log(this.$refs.form)
      try {
        // 触发校验
        await this.$refs.form.validate()
        // 校验通过
        console.log(this.ruleForm)
      } catch (e) {
        // 校验失败
        console.log(e)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.login {
  width: 100%;
  height: 100%;
  background: #004cd7;
}
.form {
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 20px;
  border-radius: 6px;
  h2 {
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    font-weight: normal;
  }
}
.el-button {
  width: 100%;
}
</style>
