<template>
  <div>
    <p>姓名: {{ username }}</p>
    <p>年龄: {{ age }}</p>
    <p>性别: {{ sex }}</p>
    <button @click="random">随机修改信息</button>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  computed: {
    ...mapState({
      username: state => state.about.username,
      age: state => state.about.age,
      sex: state => state.about.sex
    })
  },
  methods: {
    ...mapMutations(['random'])
  }
}
</script>

<style>

</style>
