<template>
  <div>
    {{ rootTitle }}
    <button @click="add">添加</button>
    <ul>
      <li v-for="(item, index) in list" :key="item">
        {{ item }}
        <button @click="removeList(index)">删除</button>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState({
      rootTitle: state => state.rootTitle,
      list: state => state.home.list
    })
  },
  methods: {
    ...mapMutations('home', ['add', 'removeList'])
  },
  created () {
    console.log(this.$store)
  }
}
</script>

<style>

</style>
