<template>
  <div class="app">
    <router-view />
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body, .app {
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
</style>
