<template>
  <div class="child1">
    <p>姓名: {{ username }}</p>
    <p>年龄: {{ age }}</p>
    <p>婚否: {{ married }}</p>
    <p>财产: {{ money }}</p>
    <h4>爱好: {{ hobby.join('/') }}</h4>
  </div>
</template>

<script>
export default {
  // props: ['username', 'age', 'married', 'money'],
  // props 类型校验
  props: {
    username: {
      default: '默认姓名',
      type: String
    },
    age: Number,
    married: Boolean,
    money: {
      type: Number,
      required: true
    },
    hobby: {
      default () {
        return [1, 2, 3, 4]
      },
      type: Array
    }
  },
  data () {
    return {
    }
  }
}
</script>

<style lang="scss" scoped>
.child1 {
  background: green;
}
</style>
