<template>
  <div class="address">
    <van-search show-action placeholder="请输入搜索关键词" />
    <van-address-list
      v-model="curAddress.id"
      :list="addressList"
      @add="onAdd"
      @edit="onEdit"
      @select="onSelect"
    >
      <van-empty v-if="addressList.length === 0" description="快去添加收货地址吧" />
    </van-address-list>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState('address', ['addressList', 'curAddress'])
  },
  methods: {
    ...mapMutations('address', ['setCurAddress']),
    onAdd () {
      this.$router.push('/create')
    },
    onEdit (item) {
      this.$router.push({
        path: '/create',
        query: {
          id: item.id
        }
      })
    },
    onSelect (item) {
      this.$toast('选中地址:' + item.address)
      this.setCurAddress(item)
      this.$router.back()
    }
  }
}
</script>

<style lang="scss" scoped>
.address {
  background: #eeeeee;
  height: 100%;
}
</style>
