<template>
  <div>
    <button @click="show1 = true">展示列表弹窗</button>
    <MyDialog
      v-if="show1"
      title="列表弹窗"
      @close="show1 = false"
    >
      <ul>
        <li>列表1</li>
        <li>列表2</li>
        <li>列表3</li>
        <li>列表4</li>
        <li>列表5</li>
      </ul>
      <template #footer>
        <button>按钮</button>
      </template>

      <template v-slot:header>
        <i>header</i>
      </template>
    </MyDialog>

    <button @click="show2 = true">展示图片弹窗</button>
    <MyDialog
      v-if="show2"
      title="图片弹窗"
      @close="show2 = false"
      @ok="ok"
      @cancel="show2 = false"
    >
      <template v-slot:default="obj">
        <!-- 作用域插槽：在插槽中访问子组件的变量 -->
        {{ obj }}
        <img src="https://img1.baidu.com/it/u=3009731526,373851691&fm=253&fmt=auto&app=138&f=JPEG?w=800&h=500" alt="">
      </template>
      <template v-slot:footer="obj">
        <!-- 作用域插槽：在插槽中访问子组件的变量 -->
        {{ obj }}
        <button>按钮11</button>
      </template>
    </MyDialog>
  </div>
</template>

<script>
import MyDialog from './components/MyDialog.vue'

export default {
  data () {
    return {
      show1: false,
      show2: false,
      text: 'text'
    }
  },
  methods: {
    ok () {
      alert('点击了ok')
      this.show2 = false
    }
  },
  components: {
    MyDialog
  }
}
</script>

<style lang="scss">
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
</style>
