<template>
  <div>
    <el-row class="first-row">
      <el-col :span="6" v-for="item in firstRow" :key="item.title">
        <el-statistic
          :title="item.title"
          :value="item.value"
          :suffix="item.suffix"
          :value-style="{ fontWeight: 'bold', fontSize: '24px' }"
        ></el-statistic>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="18">
        <div class="box">
          <el-tabs v-model="activeName">
            <el-tab-pane label="用户管理" name="0"></el-tab-pane>
            <el-tab-pane label="配置管理" name="1"></el-tab-pane>
          </el-tabs>
          <div class="echarts" ref="echarts"></div>
        </div>
      </el-col>
      <el-col :span="6">
        <el-card class="box-card" shadow="never" :body-style="{ padding: 0 }">
          <div slot="header">
            <span>销售排名</span>
          </div>
          <dl v-for="item in list" :key="item.title">
            <dt>
              <img :src="item.img" alt="" />
            </dt>
            <dd>
              <h6>{{ item.title }}</h6>
              <p>{{ item.desc }}</p>
            </dd>
          </dl>
        </el-card>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="8" v-for="item in circleList" :key="item.title">
        <div class="box circle">
          <el-progress
            type="circle"
            :color="circleColor(item.percentage)"
            :stroke-width="12"
            :percentage="item.percentage"
          ></el-progress>
          <h4>{{ item.title }}</h4>
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="14">
        <div class="box">
          <h2>销售最多</h2>
          <el-table :data="tableData" :show-header="false">
            <el-table-column>
              <template slot-scope="scope">
                {{ scope.$index + 1 }}
              </template>
            </el-table-column>
            <el-table-column prop="title"></el-table-column>
            <el-table-column prop="type"></el-table-column>
            <el-table-column prop="count"></el-table-column>
            <el-table-column width="300">
              <template slot-scope="scope">
                <el-progress
                  :color="circleColor(scope.row.percentage)"
                  :percentage="scope.row.percentage"
                ></el-progress>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </el-col>
      <el-col :span="10">
        <div class="box">
          <h2>浏览最多</h2>
          <el-table :data="tableData" :show-header="false">
            <el-table-column prop="title"></el-table-column>
            <el-table-column prop="type"></el-table-column>
            <el-table-column prop="count"></el-table-column>
          </el-table>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import * as echarts from 'echarts'

export default {
  data () {
    return {
      activeName: '0',
      firstRow: [
        {
          title: '我的待办',
          value: 100,
          suffix: '个任务'
        },
        {
          title: '对接设备时间',
          value: 32,
          suffix: '分钟'
        },
        {
          title: '本周销售时间',
          value: 32,
          suffix: '分钟'
        },
        {
          title: '本周销售量',
          value: 10,
          suffix: '个任务'
        }
      ],
      circleList: [
        {
          title: '设备A',
          percentage: 89
        },
        {
          title: '设备B',
          percentage: 91
        },
        {
          title: '设备C',
          percentage: 49
        }
      ],
      list: [
        {
          img: 'https://img.alicdn.com/tfs/TB19Erpw4TpK1RjSZFKXXa2wXXa-150-150.jpg',
          title: '淘小宝',
          desc: '高级客户销售'
        },
        {
          img: 'https://img.alicdn.com/tfs/TB1w5jvw4TpK1RjSZFMXXbG_VXa-200-200.png',
          title: '张明',
          desc: '资深客户经理'
        },
        {
          img: 'https://img.alicdn.com/tfs/TB1zenmwYPpK1RjSZFFXXa5PpXa-200-200.png',
          title: '李四',
          desc: '客户销售专家'
        },
        {
          img: 'https://img.alicdn.com/tfs/TB1n4rxwZfpK1RjSZFOXXa6nFXa-200-200.png',
          title: '张三',
          desc: '高级客户销售庄家'
        },
        {
          img: 'https://img.alicdn.com/tfs/TB19Erpw4TpK1RjSZFKXXa2wXXa-150-150.jpg',
          title: '淘小宝1',
          desc: '高级客户销售'
        }
      ],
      tableData: [
        {
          title: '设备A',
          type: '电子产品',
          count: 11234567,
          percentage: 99
        },
        {
          title: '设备B',
          type: '智能家居',
          count: 11234567,
          percentage: 40
        },
        {
          title: '设备C',
          type: '智能家电',
          count: 11234567,
          percentage: 65
        },
        {
          title: '设备D',
          type: '厨房用品',
          count: 11234567,
          percentage: 88
        }
      ]
    }
  },
  methods: {
    circleColor (percentage) {
      if (percentage >= 90) {
        return '#3080fe'
      } else if (percentage < 90 && percentage >= 50) {
        return '#2dc99c'
      } else {
        return '#ff2f01'
      }
    },
    setCharts () {
      if (this.activeName === '0') {
        this.myChart.setOption({
          xAxis: {
            type: 'category',
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
          },
          yAxis: {
            type: 'value'
          },
          series: [
            {
              data: [120, 200, 150, 80, 70, 110, 130],
              type: 'bar'
            }
          ]
        }, true)
      } else {
        // 绘制图表
        this.myChart.setOption({
          grid: {
            left: 50,
            bottom: 20,
            right: 20,
            top: 20
          },
          xAxis: {
            type: 'category',
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
          },
          yAxis: {
            type: 'value'
          },
          series: [
            {
              data: [150, 230, 224, 218, 135, 147, 260],
              type: 'line'
            }
          ]
        }, true)
      }
    }
  },
  watch: {
    activeName () {
      this.setCharts()
    }
  },
  mounted () {
    // 初始化图标
    this.myChart = echarts.init(this.$refs.echarts)
    this.setCharts()
  }
}
</script>

<style lang="scss" scoped>
.el-row {
  margin-bottom: 20px;
}
.el-col {
  min-height: 100%;
}
.first-row {
  background: #ffffff;
  border-radius: 6px;
  padding: 16px;
  .el-col {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #eeeeee;
    &:last-of-type {
      border-right: none;
    }
  }
}
.box {
  background: #ffffff;
  border-radius: 6px;
  padding: 16px;
  height: 100%;
  h2 {
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
}
.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h4 {
    margin-top: 20px;
  }
  ::v-deep .el-progress__text {
    font-size: 20px !important;
    font-weight: bold;
  }
}
.box-card {
  border-radius: 6px;
  padding: 16px;
  ::v-deep .el-card__header {
    padding: 8px 0 6px;
  }
  dl {
    padding: 10px 0;
    display: flex;
  }
  dt {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
  }
  img {
    width: 100%;
    height: 100%;
  }
  dd {
    flex: 1;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h6 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
      color: #666;
    }
  }
}
.echarts {
  height: 300px;
}
</style>
