* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root, .App {
  width: 100%;
  height: 100%;
}
.header {
  padding: 20px;
  border-bottom: 1px solid;
  display: flex;
}
button {
  margin-left: 20px;
}
.content {
  padding: 20px;
}
.todo {
  padding: 20px;
}