<template>
  <div class="test">
    <h1>test组件</h1>
    <Child1 />
  </div>
</template>

<script>
import Child1 from './Child1.vue'
export default {
  components: {
    Child1
  }
}
</script>

<style>
/* 全局样式 */
.app {
  border: 1px solid red;
}
</style>
<style lang="scss" scoped>
// scoped: 样式只在当前组件内生效
h1 {
  color: red;
}
.test {
  border: 2px solid blue;
  // 样式穿透，修改子组件内部的样式
  ::v-deep .child1 {
    background: yellow;
  }
}
</style>
