<template>
  <div class="app">
    <header>
      <b>用户</b>
      <span>{{ money }}</span>
    </header>
    <div class="dice">
      <div
        :class="['dice-item', `dice-item${item}`]"
        v-for="(item, index) in diceArr"
        :key="index"
      >
        <i v-for="val in item" :key="val"></i>
      </div>
    </div>
    <div class="chip">
      <div class="chip-list">
        <p v-for="item in chipList" :key="item" @click="addChip(item)">
          <img :src="require(`./assets/chip-${item}.png`)" alt="">
        </p>
      </div>
      <div class="add" @click="chipMoney = 0">{{ chipMoney > 0 ? chipMoney : '请下注' }}</div>
    </div>
    <footer>
      <button v-for="item in btns" :key="item.text" @click="start(item)">
        <p>{{ item.text }}</p>
        <p>1:{{ item.scale }}</p>
      </button>
    </footer>
  </div>
</template>

<script>
export default {
  data () {
    return {
      diceArr: [4, 5, 6], // 骰子
      chipList: [1, 2, 5, 20], // 筹码金额
      chipMoney: 0, // 下注金额
      money: 100, // 总金额
      btns: [
        {
          text: '大',
          scale: 1
        },
        {
          text: '豹子',
          scale: 24
        },
        {
          text: '小',
          scale: 1
        }
      ]
    }
  },
  methods: {
    addChip (m) {
      if (this.money <= 0) {
        alert('没钱了，收手吧')
        return
      }
      if (this.chipMoney + m > this.money) {
        this.chipMoney = this.money
      } else {
        this.chipMoney += m
      }
    },
    start (btn) {
      if (this.chipMoney <= 0) {
        alert('请下注')
      } else {
        this.randomDice().then(resArr => {
          const res = this.diceRes(resArr)
          // 赢了
          if (res === btn.text) {
            this.money += this.chipMoney * btn.scale
          } else {
            // 输了
            this.money -= this.chipMoney
          }
          this.chipMoney = 0
        })
      }
    },
    randomDice () {
      return new Promise((resolve) => {
        const timer = setInterval(() => {
          this.diceArr = this.diceArr.map(() => Math.floor(Math.random() * 6) + 1)
        }, 100)
        setTimeout(() => {
          clearInterval(timer)
          resolve(this.diceArr)
        }, 3000)
      })
    },
    diceRes (arr) {
      if ([...new Set(arr)].length === 1) {
        return '豹子'
      } else {
        const sum = arr.reduce((prev, val) => prev + val)
        if (sum >= 10) {
          return '大'
        } else {
          return '小'
        }
      }
    }
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, .app {
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.dice {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.dice-item {
  width: 100px;
  height: 100px;
  background: #ccc;
  margin: 20px calc((100% - 200px) / 4);
  border-radius: 6px;
  display: flex;
  padding: 10px;
  i {
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 50%;
  }
}
.dice-item1 {
  justify-content: center;
  align-items: center;
}
.dice-item2 {
  justify-content: space-between;
  i:last-of-type {
    align-self: flex-end;
  }
}
.dice-item3 {
  justify-content: space-between;
  i:nth-child(2) {
    align-self: center;
  }
  i:nth-child(3) {
    align-self: flex-end;
  }
}
.dice-item4, .dice-item6 {
  flex-wrap: wrap;
  align-content: space-between;
  i:nth-child(even) {
    margin-left: calc(100% - 40px);
  }
}
.dice-item5 {
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  i:nth-child(3) {
    margin: 0 calc((100% - 20px) / 2);
  }
}
.chip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-top: 16px;
}
.chip-list {
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  p {
    width: 50px;
    height: 50px;
  }
}
.add {
  width: 100px;
  height: 100px;
  background: #ccc;
  background: url(./assets/put-chips.png) no-repeat center;
  background-size: contain;
  text-align: center;
  line-height: 100px;
  color: yellow;
}
footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  button {
    width: 100px;
    height: 100px;
  }
}
</style>
