<template>
  <div>
    <h1>event Bus</h1>
    <Child1 />
    <Child2 />
  </div>
</template>

<script>
import Child1 from './components/Child1.vue'
import Child2 from './components/Child2.vue'

export default {
  components: {
    Child1,
    Child2
  }
}
</script>

<style>

</style>
