<template>
  <div class="child2">
    <h2>child2</h2>
    <button @click="num ++">{{ num }}</button>
    <ol>
      <li>aaa</li>
      <li>aaa</li>
      <li>aaa</li>
      <li>aaa</li>
    </ol>
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: 0
    }
  }
}
</script>

<style lang="scss" scoped>
.child2 {
  background: blue;
}
</style>
