<template>
  <div class="test">
    <h1>test组件</h1>
    <button @click="num ++">{{ num }}</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: 0
    }
  },
  components: {
  }
}
</script>

<style lang="scss" scoped>
// scoped: 样式只在当前组件内生效
h1 {
  color: red;
}
.test {
  border: 2px solid blue;
}
</style>
