<script setup>
  const props = defineProps({
    title: String,
    a: Boolean
  })
  const emits = defineEmits(['add'])
  const style = {
    border: '1px solid red',
    padding: '50px'
  }
</script>

<template>
  <h1>父组件标题: {{ title }} - {{ a }}</h1>
  <h2>Child1组件</h2>
  <div :style="style">
    <slot></slot>
  </div>
  <button @click="emits('add', 2)">+2</button>
</template>

<style lang='scss' scoped>

</style>
