<script setup>
  defineProps(['modelValue'])
  const emit = defineEmits(['update:modelValue'])
</script>

<template>
  <div>
    <button @click="emit('update:modelValue', modelValue + 1)">+</button>{{ modelValue }}
  </div>
</template>

<style lang='scss' scoped>

</style>
