<search-btn />
<view
  wx:for="{{list}}"
  wx:key="goods_id"
  class="item"
  data-id="{{item.goods_id}}"
  bindtap="goDetail"
>
  <image wx:if="{{item.goods_big_logo}}" src="{{item.goods_big_logo}}" mode="widthFix"></image>
  <image wx:else src="https://ww1.sinaimg.cn/large/007rAy9hgy1g24by9t530j30i20i2glm.jpg" mode="widthFix"></image>
  <view class="info">
    <view class="name">{{item.goods_name}}</view>
    <view class="price">价格: ¥{{item.goods_price}}</view>
  </view>
</view>
