/* pages/list/list.wxss */
.item {
  display: flex;
  padding: 30rpx;
  border-bottom: 1px solid #333333;
}
.item image {
  width: 200rpx;
  height: 200rpx;
}
.info {
  flex: 1;
  overflow: hidden;
  padding-left: 30rpx;
}
.price {
  color: tomato;
}