<template>
  <div>
    <h4>列表页面</h4>
    <main v-loading="loading">
      <div class="row">
        <el-input placeholder="请输入内容" v-model="search">
          <el-button slot="append" icon="el-icon-search" @click="startSearch">搜索</el-button>
        </el-input>
        <el-button type="primary" icon="el-icon-plus" @click="showCreate">新增</el-button>
      </div>
      <div class="keyword" v-if="keyword">
        以下内容包涵
        <b style="color: tomato; margin-right: 10px">"{{ keyword }}"</b>
        <el-button type="text" @click="resetSearch">重置搜索</el-button>
      </div>
      <el-table
        :data="tableData"
        border
        stripe
        style="width: 100%"
        max-height="500"
      >
        <el-table-column prop="num" label="序号"></el-table-column>
        <el-table-column prop="firstName" label="姓氏"></el-table-column>
        <el-table-column prop="lastName" label="名字"></el-table-column>
        <el-table-column prop="age" label="年龄"></el-table-column>
        <el-table-column label="性别">
          <template slot-scope="scope">
            {{ scope.row.sex === 1 ? "男" : "女" }}
          </template>
        </el-table-column>
        <el-table-column prop="email" label="邮箱" width="200"></el-table-column>
        <el-table-column label="图片" width="150">
          <template slot-scope="scope">
            <el-image :src="scope.row.image" fit="contain" :preview-src-list="previewSrcList" style="width: 100px; height: 100px"></el-image>
          </template>
        </el-table-column>
        <el-table-column prop="address" label="地址" width="230"></el-table-column>
        <el-table-column fixed="right" label="操作" width="230">
          <template slot-scope="scope">
            <router-link :to="`/list/detail/${scope.row.id}`" style="margin-right: 10px">
              <el-button type="primary" size="small">查看</el-button>
            </router-link>
            <el-button size="small" @click="showEdit(scope.row)">编辑</el-button>
            <el-button @click="remove(scope.row)" type="danger" size="small">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        background
        :current-page="pagenum"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pagesize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
        @current-change="change($event, pagesize)"
        @size-change="change(pagenum, $event)"
      >
      </el-pagination>
    </main>
    <Create
      :visible.sync="dialogFormVisible"
      :editInfo="editInfo"
      @done="getlist"
    />
  </div>
</template>

<script>
import { getList, delUser } from '@/api'
import Create from './components/Create.vue'

export default {
  data () {
    return {
      search: '', // input 框绑定的值
      keyword: '', // 搜索时的关键字
      pagenum: 1,
      pagesize: 20,
      tableData: [],
      total: 0,
      loading: false,
      dialogFormVisible: false, // 新增和编辑
      editInfo: null // 编辑的数据
    }
  },
  computed: {
    previewSrcList () {
      return this.tableData.map(v => v.image)
    }
  },
  methods: {
    // 显示编辑弹窗
    showEdit (row) {
      this.dialogFormVisible = true
      this.editInfo = row
    },
    // 显示新增弹窗
    showCreate () {
      this.dialogFormVisible = true
      this.editInfo = null
    },
    // 重置
    resetSearch () {
      this.search = ''
      this.keyword = ''
      this.pagenum = 1
      this.getlist()
    },
    // 搜索
    startSearch () {
      this.keyword = this.search
      this.pagenum = 1
      this.getlist()
    },
    // 改变分页重新获取数据
    change (pagenum, pagesize) {
      this.pagenum = pagenum
      this.pagesize = pagesize
      this.getlist()
    },
    // 调用接口获取数据
    async getlist () {
      this.loading = true
      const res = await getList({
        pagenum: this.pagenum,
        pagesize: this.pagesize,
        keyword: this.keyword
      })
      if (res.data.code === 0) {
        const { list, total } = res.data.data
        this.tableData = list
        this.total = total
      } else {
        this.$message.error(res.data.msg)
      }
      this.loading = false
    },
    // 删除提示
    async remove (row) {
      try {
        await this.$confirm('此操作将永久删除该用户, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        })
        // 点击确定按钮，调用删除函数
        this.delUser(row.id)
      } catch (e) {
        this.$message.info('已取消删除')
      }
    },
    // 删除用户
    async delUser (id) {
      const res = await delUser(id)
      if (res.data.code === 0) {
        this.$message.success('删除成功!')
        this.getlist()
      } else {
        this.$message.error(res.data.msg)
      }
    }
  },
  created () {
    this.getlist()
  },
  components: {
    Create
  }
}
</script>

<style lang="scss" scoped>
h4 {
  margin-bottom: 10px;
}
main {
  padding: 20px;
  background: #ffffff;
  overflow: hidden;
}
.row {
  display: flex;
  justify-content: space-between;
  .el-input {
    width: 500px;
    ::v-deep .el-input-group__append {
      background-color: #409eff;
      border-color: #409eff;
      color: #ffffff;
      &:hover {
        background: #66b1ff;
        border-color: #66b1ff;
      }
    }
    ::v-deep .el-input__inner {
      border-color: #409eff;
    }
  }
}
.el-table {
  margin: 20px 0;
}
.el-pagination {
  float: right;
}
</style>
