.movie {
  overflow: auto;
  nav {
    height: 50px;
    border-bottom: 1px solid #dddddd;
    line-height: 50px;
    display: flex;
    background: #ffffff;
    a {
      flex: 1;
      text-align: center;
      color: #191a1b;
    }
    .active {
      color: #ff5f16;
    }
  }
}