<script setup>
import { useUserStore } from '../../../stores/user'
const userStore = useUserStore()


console.log(userStore)
</script>

<template>
  <div>
    <p>姓名: {{ userStore.name }}</p>
    <p>年龄: 
      <button @click="userStore.addAge(-2)">-2</button>
      {{ userStore.age }}
      <button @click="userStore.addAge(2)">+2</button>
    </p>
  </div>
</template>

<style lang='scss' scoped>

</style>
