<template>
  <!-- 组件只能够有一个根元素，根元素不能有同级元素，也不能在根元素上使用 v-for -->
  <div class="app">
    <h1>props校验</h1>
    <nav>
      <button
        v-for="item in navList"
        :key="item.Com"
        @click="curCom = item.Com"
        :class="{ active: curCom === item.Com }"
      >{{ item.text }}</button>
    </nav>
    <!-- keep-alive： 缓存组件状态 -->
    <!-- :include="['Child1', 'Child3']" 需要缓存的组件 -->
    <!-- :exclude="['Child1']" 不需要缓存的组件 -->
    <!-- max="2" 最多缓存几个组件，只缓存最近访问的 2 个组件 -->
    <keep-alive>
      <!-- <Test v-if="curCom === 'Test'" />
      <Child1 v-else-if="curCom === 'Child1'" />
      <Child2 v-else-if="curCom === 'Child2'" />
      <Child3 v-else-if="curCom === 'Child3'" /> -->
      <!-- component动态组件，vue内置组件，会根据 is 属性传入的组件名称渲染对应的组件 -->
      <component :is="curCom"></component>
    </keep-alive>
  </div>
</template>

<script>
// import Test from './components/Test.vue'
// import Child1 from './components/Child1.vue'
// import Child2 from './components/Child2.vue'
// import Child3 from './components/Child3.vue'

export default {
  data () {
    return {
      curCom: 'Test',
      navList: [
        {
          text: 'test组件',
          Com: 'Test'
        },
        {
          text: 'child1组件',
          Com: 'Child1'
        },
        {
          text: 'child2组件',
          Com: 'Child2'
        },
        {
          text: 'child3组件',
          Com: 'Child3'
        }
      ]
    }
  },
  methods: {
  },
  components: {
    // 异步组件：调用组件时加载对应的文件，可以优化首屏加载速度
    Test: () => import('./components/Test.vue'),
    Child1: () => import('./components/Child1.vue'),
    Child2: () => import('./components/Child2.vue'),
    Child3: () => import('./components/Child3.vue')
  }
}
</script>

<style lang="scss">
.app {
  background: #ccc;
}
.active {
  background: orange;
}
</style>
