<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
</style>
<body>
  <div class="app">
    <button @click="change">修改数组</button>
    <ul>
      <li v-for="item in arr">{{ item }}</li>
    </ul>
    <hr />
    {{ obj }}
    <button @click="changeObj">修改对象</button>
  </div>

  <script>

    let vm = new Vue({
      el: '.app',
      data: {
        arr: ['a', 'b', 'c', 'd', 'e'],
        obj: {
          name: '小明',
          age: 20
        }
      },
      methods: {
        change() {
          // 通过下标或者length修改数组，vue无法监听到数组的变化，页面不会自动更新
          // this.arr[2] = 'CCCC'
          // this.arr.length = 0

          // 必须通过数组的方法修改数据页面才会更新
          // this.arr.splice(2, 1)
          // this.arr = []
          this.$set(this.arr, 2, 'CCC')
        },
        changeObj() {
          // 给对象添加新属性
          // Vue.set(this.obj, 'sex', '男')
          this.$set(this.obj, 'sex', '男')
        }
      }
    })


  </script>
</body>
</html>