<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
</style>
<body>
  <div class="app">
    <div>全选 <input type="checkbox" v-model="checkAll" @change="changeA"> {{ checkAll }}</div>
    <ul>
      <li v-for="item in list">
        {{ item.text }} <input type="checkbox" v-model="item.checked">
      </li>
    </ul>
    {{ list }}
  </div>

  <script>

    let vm = new Vue({
      el: '.app',
      data: {
        checkAll: false,
        list: [
          {
            text: '吃饭',
            checked: true
          },
          {
            text: '唱歌',
            checked: true
          },
          {
            text: '跳舞',
            checked: true
          }
        ]
      },
      methods: {
        changeA() {
          console.log('changeA 事件')
          this.list.forEach(item => {
            item.checked = this.checkAll
          })
        }
      },
      watch: { // 监听变量改变
        // checkAll() {
        //   console.log('全选改变了', this.checkAll)
        //   this.list.forEach(item => {
        //     item.checked = this.checkAll
        //   })
        // },
        list: {
          handler() {
            console.log('list改变了', this.list)
            this.checkAll = this.list.every(v => v.checked)
          },
          deep: true, // 深度监听：监听对象或者数组内容改变
          immediate: true // 进入页面立即执行一次此函数
        }
      }
    })

  </script>
</body>
</html>