<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body, .app {
    width: 100%;
    height: 100%;
  }
  li {
    line-height: 40px;
    border-bottom: 1px dashed #ccc;
  }
  .active {
    background: orange;
  }
</style>
<body>
  <div class="app">
    <header>
      <input type="text" v-model="text" @keydown.13="submit">
      <button @click="submit">提交</button>
      <button @click="clear">清空高亮</button>
    </header>
    <ul>
      <li
        v-for="(item, index) in list"
        :class="{ active: item.checked }"
        @click="changeChecked(index)"
      >
        <span>{{ item.text }} - {{ item.checked }}</span>
        <button @click.stop="remove(index)">删除</button>
      </li>
    </ul>
  </div>

  <script>

    let vm = new Vue({
      el: '.app',
      data: {
        list: [],
        text: ''
      },
      methods: {
        clear() {
          this.list = this.list.filter(v => !v.checked)
        },
        remove(index) {
          this.list.splice(index, 1)
        },
        submit() {
          this.list.unshift({
            text: this.text,
            checked: false
          })
          this.text = ''
        },
        changeChecked(index) {
          this.list[index].checked = !this.list[index].checked
        }
      }
    })

  </script>
</body>
</html>