<script setup>
import { useRouter, useRoute, useLink } from 'vue-router'
import { ref } from 'vue'
import { useHomeStore } from '../../../stores/home'

const router = useRouter()
const route = useRoute()
// console.log(router) // 路由实例对象，可以跳转路由
// console.log(route) // 当前路由信息

const homeStore = useHomeStore()
homeStore.getBanner()

const reset = () => {
  // 修改仓库的数据
  // homeStore.banners = []
  homeStore.$patch({
    banners: []
  })
}

const goDetail = id => {
  router.push({
    name: 'detail',
    params: {
      id
    },
    query: {
      id,
      a: 100
    }
  })
}

</script>

<template>
  <div>
    <button @click="reset">重置home数据</button>
    <ul>
      <li v-for="item in homeStore.banners" :key="item.targetId" @click="goDetail(item.targetId)">
        <img :src="item.imageUrl" alt="">
      </li>
    </ul>
  </div>
</template>

<style lang='scss' scoped>
img {
  width: 100%;
}
</style>
