.home {
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
  }
  footer {
    height: 50px;
    border-top: 1px solid #dddddd;
    background: #ffffff;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      text-decoration: none;
      color: #333333;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      img, .img {
        width: 21px;
        height: 21px;
      }
    }
    .active {
      color: #ff5f16;
    }
  }
}