<template>
  <div>
    <p>本金已返：{{ info.bj1 }}</p>
    <p>佣金已返：{{ info.yj1 }}</p>
    <p>本金未返：{{ info.bj2 }}</p>
    <p>佣金未返：{{ info.yj2 }}</p>
    {{ info }}
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState(['list']),
    info () {
      const info = {
        bj1: 0, // 本金已返
        bj2: 0, // 本金未返
        yj1: 0, // 佣金已返
        yj2: 0 // 佣金未返
      }
      this.list.forEach(item => {
        if (item.bjBack) {
          info.bj1 += Number(item.bj)
        } else {
          info.bj2 += Number(item.bj)
        }
        if (item.yjBack) {
          info.yj1 += Number(item.yj)
        } else {
          info.yj2 += Number(item.yj)
        }
      })
      return info
    }
  }
}
</script>

<style>

</style>
