* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  width: 100%;
  height: 100%;
  background: #989896;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap {
  width: 800px;
  height: 400px;
  border: 5px solid #e6a63a;
  background: #bcbcbc;
  padding: 30px;
  display: flex;
  audio {
    position: fixed;
    top: -100%;
    left: -100%;
  }
}