<template>
  <div class="child2">
    <h3>Child2_1</h3>
    <p>{{ num }}</p>
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: 0
    }
  },
  created () {
    // 往eventBus中添加方法
    this.$bus.$on('add', (n) => {
      this.num += n
    })
  }
}
</script>

<style lang="scss">
.child2 {
  background: blue;
  color: #fff;
}
</style>
