<template>
  <div class="child1">
    <h2>child1</h2>
    <Child11 />
  </div>
</template>

<script>
import Child11 from './Child1_1.vue'
export default {
  components: {
    Child11
  }
}
</script>

<style lang="scss">
.child1 {
  background: yellowgreen;
}
</style>
