<template>
  <div class="child1">
    <h2>child2</h2>
    <Child21 />
  </div>
</template>

<script>
import Child21 from './Child2_1.vue'
export default {
  props: ['num'],
  components: {
    Child21
  }
}
</script>

<style lang="scss">
.child1 {
  background: yellowgreen;
}
</style>
