<template>
  <!-- 组件只能够有一个根元素，根元素不能有同级元素，也不能在根元素上使用 v-for -->
  <div>111</div>
  <!-- 根元素有同级标签会报错 -->
  <div>111</div>
</template>

<script>

export default {
  data () {
    return {
    }
  },
  methods: {
  },
  components: {
  }
}
</script>

<style lang="scss">
</style>
