<template>
  <div class="home">
    <header>
      <router-link to="/search">搜索</router-link>
    </header>
    <nav>
      <router-link to="/list/zh">综合</router-link>
      <router-link to="/list/xl">销量</router-link>
      <router-link to="/list/sx">上新</router-link>
      <p @click="changeSort">
        <span>价格</span>
        <i>
          <svg :class="{ red: sortType === 1 }" t="1668481086057" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2730" width="12" height="12"><path d="M951.1626 819.412438 72.8374 819.412438 511.999488 204.586538Z" p-id="2731"></path></svg>
          <svg :class="{ red: sortType === 2 }" t="1668481113774" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3029" width="12" height="12"><path d="M511.999488 819.413462 72.8374 204.586538 951.1626 204.586538Z" p-id="3030"></path></svg>
        </i>
      </p>
      <b @click="change">{{ isGrid ? '网格' : '列表'}}</b>
    </nav>
    <main>
      <router-view />
    </main>
  </div>
</template>

<script>
export default {
  data () {
    return {
      isGrid: false,
      sortType: 0 // 0: 默认排序，1: 升序，2: 降序
    }
  },
  methods: {
    change () {
      this.isGrid = !this.isGrid
      // 通过eventBus调用list组件中的方法
      this.$bus.$emit('changeGrid', this.isGrid)
    },
    changeSort () {
      this.sortType++
      if (this.sortType > 2) this.sortType = 0
      // 通过eventBus调用list组件中的方法
      this.$bus.$emit('changeSort', this.sortType)
    }
  }
}
</script>

<style lang="scss" scoped>
.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  header {
    height: 50px;
    background: #333;
    padding: 8px 30px;
    a {
      width: 100%;
      height: 100%;
      display: block;
      color: #ccc;
      background: #fff;
      border-radius: 5px;
      line-height: 34px;
      font-size: 14px;
      padding-left: 10px;
    }
  }
  nav {
    height: 40px;
    border-bottom: 1px solid #999;
    display: flex;
    line-height: 40px;
    a, p {
      flex: 1;
      text-align: center;
      color: #333;
    }
    .router-link-active {
      color: tomato;
    }
    b {
      width: 50px;
      border-left: 1px solid #ccc;
      text-align: center;
    }
    p {
      display: flex;
      justify-content: center;
      i {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 4px;
      }
      .red {
        fill: tomato;
      }
    }
  }
  main {
    flex: 1;
    overflow: hidden;
  }
}
</style>
