<template>
  <div :class="['list', { grid: isGrid }]">
    <dl v-for="item in newlist" :key="item.item_id">
      <dt>
        <img :src="item.img" alt="">
      </dt>
      <dd>
        <h3>{{ item.title }}</h3>
        <p>
          <span>月销{{ item.sold }}笔</span>
          <b>¥{{ item.price }}</b>
        </p>
      </dd>
    </dl>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      list: [], // 接口原数据
      types: ['zh', 'xl', 'sx'],
      isGrid: false, // 布局风格
      sortType: 0 // 排序类型，0: 默认排序，1: 升序，2: 降序
    }
  },
  computed: {
    newlist () {
      const list = [...this.list]
      switch (this.sortType) {
        case 1:
          return list.sort((a, b) => a.price - b.price)
        case 2:
          return list.sort((a, b) => b.price - a.price)
        default:
          return list
      }
    }
  },
  created () {
    this.$bus.$on('changeGrid', grid => {
      this.isGrid = grid
    })
    this.$bus.$on('changeSort', type => {
      this.sortType = type
    })
  },
  methods: {
    async getList () {
      const res = await axios.get('/milk/list', {
        params: {
          type: this.$route.params.id
        }
      })
      this.list = res.data.data.items
    }
  },
  // 使用 watch 监听路由参数变化
  watch: {
    $route: {
      handler () {
        // 判断当前动态路由的参数是否在指定的类型中
        if (this.types.includes(this.$route.params.id)) {
          this.getList()
        } else {
          this.$router.push('/404')
        }
      },
      immediate: true
    }
  }
  // 使用组件内守卫监听路由变化
  // beforeRouteUpdate (to, from, next) {
  //   next()
  //   this.getList()
  // }
}
</script>

<style lang="scss" scoped>
.list {
  height: 100%;
  overflow: auto;
  dl {
    display: flex;
  }
  dt {
    width: 120px;
  }
  dd {
    flex: 1;
    overflow: hidden;
    margin-left: 10px;
    border-bottom: 1px solid #ccc;
    padding-right: 15px;
  }
  h3 {
    font-weight: normal;
    font-size: 14px;
  }
  p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    span {
      font-size: 12px;
      color: #999;
    }
    b {
      font-size: 16px;
      color: red;
    }
  }
}
.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #eee;
  dl {
    width: calc(50% - 2px);
    flex-direction: column;
    background: #fff;
    margin-top: 4px;
  }
  dt {
    width: 100%;
  }
  p {
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-bottom: 10px;
    height: 60px;
  }
  dd {
    border-bottom: none;
  }
  h3 {
    height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
}
</style>
