<template>
  <div class="search">
    <header>
      <input type="text" placeholder="请输入搜索的内容" @input="search">
    </header>
    <main>
      <ul v-if="list.length > 0">
        <li v-for="item in list" :key="item.item_id">{{ item.title }}</li>
      </ul>
      <p v-else>空数据</p>
    </main>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      list: []
    }
  },
  methods: {
    // 添加防抖优化性能
    // 防抖：连续多次触发同一个函数只执行最后一次
    search (e) {
      console.log(e.target.value)
      if (this.timer) clearTimeout(this.timer)
      this.timer = setTimeout(() => {
        this.getlist(e.target.value)
        this.timer = null
      }, 1000)
    },
    async getlist (keywords) {
      const res = await axios.get('/milk/search', {
        params: { keywords }
      })
      this.list = res.data.data
    }
  }
}
</script>

<style lang="scss" scoped>
.search {
  height: 100%;
  display: flex;
  flex-direction: column;
  header {
    background: #fff;
    height: 40px;
    padding: 5px 10px;
    input {
      width: 100%;
      height: 30px;
      background: #eee;
      outline: none;
      border: none;
    }
  }
  main {
    background: #ddd;
    flex: 1;
    overflow: auto;
    li {
      line-height: 40px;
      border-bottom: 1px dashed #999;
      overflow: hidden;
      padding: 0 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
</style>
