<template>
  <div class="home">
    <main>
      <router-view />
    </main>
    <footer>
      <router-link v-for="item in navlist" :key="item.path" :to="item.path">
        <i v-html="item.icon"></i>
        <span>{{ item.title }}</span>
      </router-link>
    </footer>
  </div>
</template>

<script>
export default {
  data () {
    return {
      navlist: [
        {
          path: '/memo',
          icon: '<svg t="1668567555194" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2514" width="20" height="20"><path d="M946.99 982.49H77.01c-19.57 0-35.5-15.93-35.5-35.5V77.01c0-19.57 15.93-35.5 35.5-35.5h869.98c19.57 0 35.5 15.93 35.5 35.5v869.98c0 19.57-15.93 35.5-35.5 35.5z m-842.48-63h814.98V104.51H104.51v814.98z" p-id="2515"></path><path d="M262.53 337.09l-96.65-79.08c-13.46-11.02-15.45-30.86-4.43-44.33 11.02-13.46 30.86-15.45 44.33-4.43l50.8 41.56 97.83-105.61c11.82-12.76 31.75-13.52 44.52-1.7 12.76 11.82 13.52 31.75 1.7 44.52l-138.1 149.07zM856.94 285.24H460.17c-17.4 0-31.5-14.1-31.5-31.5s14.1-31.5 31.5-31.5h396.77c17.4 0 31.5 14.1 31.5 31.5s-14.11 31.5-31.5 31.5zM262.53 597.14l-96.65-79.08c-13.46-11.02-15.45-30.86-4.43-44.33 11.02-13.46 30.86-15.45 44.33-4.43l50.8 41.56 97.83-105.61c11.82-12.76 31.75-13.52 44.52-1.7s13.52 31.75 1.7 44.52l-138.1 149.07zM856.94 545.29H460.17c-17.4 0-31.5-14.1-31.5-31.5s14.1-31.5 31.5-31.5h396.77c17.4 0 31.5 14.1 31.5 31.5s-14.11 31.5-31.5 31.5zM856.94 798.63H460.17c-17.4 0-31.5-14.1-31.5-31.5s14.1-31.5 31.5-31.5h396.77c17.4 0 31.5 14.1 31.5 31.5s-14.11 31.5-31.5 31.5zM263.57 875.03c-59.5 0-107.9-48.41-107.9-107.9s48.41-107.9 107.9-107.9 107.9 48.41 107.9 107.9-48.4 107.9-107.9 107.9z m0-152.81c-24.76 0-44.9 20.14-44.9 44.9s20.14 44.9 44.9 44.9 44.9-20.14 44.9-44.9-20.14-44.9-44.9-44.9z" p-id="2516"></path></svg>',
          title: '备忘录'
        },
        {
          path: '/create',
          icon: '<svg t="1668567806507" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4724" width="20" height="20"><path d="M512 62c-248.4 0-450 201.6-450 450s201.6 450 450 450 450-201.6 450-450-201.6-450-450-450zM725.282 544.733h-172.602v172.611c0 20.753-17.487 38.232-38.242 38.232-20.753 0-38.232-17.478-38.232-38.232v-172.611h-172.62c-20.745 0-38.232-17.478-38.232-38.232 0-20.764 17.487-38.242 38.242-38.242h172.611v-172.611c0-20.753 17.478-38.232 38.232-38.232s38.242 17.478 38.242 38.232v172.62h172.602c20.764 0 38.242 17.469 38.242 38.232 0 21.843-17.478 38.232-38.242 38.232z" p-id="4725" fill="#61ca0c"></path></svg>',
          title: '新建'
        },
        {
          path: '/mine',
          icon: '<svg t="1668567756390" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3550" width="20" height="20"><path d="M512 632c100.8 0 184-83.2 184-184S612.8 264 512 264 328 347.2 328 448 411.2 632 512 632z m0-320c75.2 0 136 60.8 136 136s-60.8 136-136 136-136-60.8-136-136 60.8-136 136-136z" p-id="3551"></path><path d="M792 785.6c70.4-72 112-168 112-273.6 0-216-176-392-392-392S120 296 120 512c0 105.6 41.6 201.6 110.4 273.6 0 0 0 1.6 1.6 1.6 68.8 70.4 161.6 112 259.2 116.8h41.6c97.6-4.8 190.4-46.4 259.2-118.4zM512 168c190.4 0 344 153.6 344 344 0 76.8-25.6 148.8-68.8 206.4-16-51.2-38.4-96-68.8-134.4-8-11.2-24-12.8-33.6-4.8-11.2 8-12.8 22.4-4.8 33.6 32 41.6 56 92.8 68.8 148.8-4.8 3.2-8 8-12.8 11.2-3.2 1.6-4.8 4.8-8 6.4-6.4 4.8-12.8 9.6-20.8 16-1.6 1.6-3.2 3.2-4.8 3.2l-24 14.4c-1.6 0-3.2 1.6-3.2 1.6-8 4.8-17.6 9.6-25.6 12.8-1.6 0-1.6 1.6-3.2 1.6-9.6 3.2-17.6 6.4-27.2 9.6-1.6 0-3.2 1.6-4.8 1.6-8 3.2-17.6 4.8-27.2 6.4-1.6 0-4.8 1.6-6.4 1.6-8 1.6-17.6 3.2-27.2 4.8-3.2 0-4.8 1.6-8 1.6-11.2 1.6-22.4 1.6-33.6 1.6s-22.4 0-33.6-1.6c-3.2 0-4.8 0-8-1.6-9.6-1.6-17.6-1.6-27.2-4.8-1.6 0-4.8-1.6-6.4-1.6-9.6-1.6-17.6-4.8-27.2-6.4-1.6 0-3.2-1.6-4.8-1.6-9.6-3.2-17.6-6.4-27.2-9.6-1.6 0-1.6-1.6-3.2-1.6-9.6-3.2-17.6-8-25.6-12.8-1.6 0-3.2-1.6-3.2-1.6l-24-14.4c-1.6-1.6-3.2-3.2-4.8-3.2-6.4-4.8-14.4-9.6-20.8-16-3.2-1.6-4.8-4.8-8-6.4-4.8-3.2-8-8-12.8-11.2 12.8-56 36.8-107.2 68.8-148.8 8-11.2 6.4-25.6-4.8-33.6s-25.6-6.4-33.6 4.8c-30.4 38.4-52.8 84.8-68.8 134.4-43.2-57.6-68.8-128-68.8-206.4 0-190.4 153.6-344 344-344z" p-id="3552"></path></svg>',
          title: '我的'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
    background: #eeeeee;
  }
  footer {
    height: 50px;
    background: #ffffff;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }
    .router-link-active {
      color: tomato;
    }
  }
}
</style>
