<template>
  <div class="about">
    <h1>Detail page</h1>
    {{ num }}
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState(['num'])
  }
}
</script>
