<script setup>
import { reactive, ref, nextTick, computed, watch, watchEffect, onMounted, onUpdated } from 'vue'
import Child1 from './components/Child1.vue'
import Num from './components/Num.vue'

const title = ref('App')

const obj = {
  name: '晓明',
  age: 20
}


const num = ref(0)

</script>


<template>
  <h1>
    {{ title }}
    <input type="text" v-model="title">
    <input type="text" :value="title" @input="(e) => title = e.target.value">
  </h1>
  <p>num: {{ num }}</p>
  <hr />
  <Num v-model="num" class="test-class" />

  <!-- <Child1 v-bind="obj" :title="title" :a="true" @add="add">
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
    </ul>
  </Child1> -->
</template>

<style>

</style>
