<template>
  <div>
    <ul>
      <!--
        v-for 和 v-if 不要在同一个标签使用，
        可以使用计算属性计算好需要的数据再使用v-for渲染
      -->
      <!-- <li
        v-for="(item, index) in arr"
        :key="index"
        v-if="item % 2 === 0"
      >{{ item }}</li> -->
      <li
        v-for="(item, index) in list1"
        :key="index"
      >{{ item }}</li>
    </ul>
  </div>
</template>

<script>

export default {
  data () {
    return {
      login: true,
      arr: [1, 2, 3, 4, 5, 6, 7, 8]
    }
  },
  computed: {
    list1 () {
      return this.arr.filter(v => v % 2 === 0)
    }
  }
}
</script>

<style>
li {
  list-style-type: none;
}
</style>
