<template>
  <div class="box">
    <h1>{{ title }}</h1>
    <input type="text" v-model="title" >
    <button @click="num++">按钮点击的次数{{ num }}</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: 0,
      title: 'box1'
    }
  }
}
</script>

<style lang="scss">
.box {
  border: 1px solid red;
}
</style>
