<template>
  <div class="gohome">
    <van-sticky>
      <van-nav-bar :border="false">
        <template #left>
          <van-icon name="location-o" size="18" />
        </template>
        <template #title>
          <router-link to="/address">
            {{
              curAddress.address
                ? `送至：${curAddress.address}`
                : "请选择配送地址"
            }}
          </router-link>
        </template>
        <template #right>
          <van-icon name="search" size="18" />
        </template>
      </van-nav-bar>
    </van-sticky>
    <van-grid :column-num="3">
      <van-grid-item v-for="item in list" :key="item.wareId" >
        <van-image :src="item.wareImg" @click="goDetail(item)" />
        <h4>{{ item.wareName }}</h4>
        <div class="info">
          <div class="price">¥{{ item.warePrice / 100 }}</div>
          <van-button size="mini" @click="addCart(item)">+</van-button>
        </div>
      </van-grid-item>
    </van-grid>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState('address', ['curAddress']),
    ...mapState('cart', ['list'])
  },
  methods: {
    ...mapActions('cart', ['getList']),
    ...mapMutations('cart', ['addCart']),
    goDetail (item) {
      this.$router.push({
        name: 'detail',
        params: { id: item.wareId },
        query: {
          sku: item.sku,
          storeId: item.storeId
        }
      })
    }
  },
  created () {
    this.getList()
  }
}
</script>

<style lang="scss" scoped>
.gohome {
  height: 100%;
  overflow: auto;
  // 样式穿透：修改UI组件内的样式
  ::v-deep .van-nav-bar__title {
    width: calc(100% - 92px);
    max-width: calc(100% - 92px);
    text-align: left;
  }
  h4 {
    font-weight: normal;
    height: 45px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
  .info {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .price {
    color: orange;
    font-size: 16px;
  }
  .van-button {
    width: 30px;
    height: 30px;
    color: orange;
    border-color: orange;
  }
}
</style>
