<template>
  <div class="detail">
    <el-page-header @back="goBack" content="详情页面"></el-page-header>
    <el-descriptions title="用户信息">
      <el-descriptions-item label="姓氏">{{
        info.firstName
      }}</el-descriptions-item>
      <el-descriptions-item label="名字">{{
        info.lastName
      }}</el-descriptions-item>
      <el-descriptions-item label="年龄">{{ info.age }}</el-descriptions-item>
      <el-descriptions-item label="备注">
        <el-tag size="small">学校</el-tag>
      </el-descriptions-item>
      <el-descriptions-item label="联系地址">{{
        info.address
      }}</el-descriptions-item>
    </el-descriptions>
    <el-upload
      class="avatar-uploader"
      action="/mqq/api/upload"
      :show-file-list="false"
      :on-success="handleAvatarSuccess"
      :before-upload="beforeAvatarUpload"
    >
      <img v-if="imageUrl" :src="imageUrl" class="avatar" />
      <i v-else class="el-icon-plus avatar-uploader-icon"></i>
    </el-upload>
  </div>
</template>

<script>
import { getDetail } from '@/api'

export default {
  data () {
    return {
      info: {},
      imageUrl: ''
    }
  },
  methods: {
    handleAvatarSuccess (res, file) {
      // 上传成功
      console.log(res)
      if (res.code === 200) {
        this.imageUrl = res.data.url
      } else {
        this.$message.error(res.msg)
      }
    },
    beforeAvatarUpload (file) {
      // 图片上传之前添加校验
      const imgReg = /^image\/(png|jpe?g|svg|webp)/
      if (!imgReg.test(file.type)) {
        this.$message.error('文件类型错误，只能是图片类型!')
        return false
      }
      if (file.size / 1024 / 1024 > 1) {
        this.$message.error('上传图片大小不能超过 1MB!')
        return false
      }
      return true
    },
    goBack () {
      this.$router.back()
    }
  },
  async created () {
    const res = await getDetail(this.$route.params.id)
    if (res.data.code === 0) {
      this.info = res.data.data
    } else {
      this.$message.error(res.data.msg)
    }
  }
}
</script>

<style lang="scss" scoped>
.detail {
  background: #fff;
  padding: 20px;
}
.el-page-header {
  margin-bottom: 20px;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
</style>
