<template>
  <div>
    <button @click="$emit('sub', 3)">-</button>
    {{ num }}
    <!-- 触发自定义事件：this.$emit('自定义事件名', 自定义事件对象) -->
    <button @click="$emit('add', 2)">+</button>
  </div>
</template>

<script>
export default {
  props: ['num']
}
</script>

<style>

</style>
