<template>
  <div>
    <input type="text" v-model="text">
    <button v-copy="text">点击复制</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      text: 'abc'
    }
  }
}
</script>

<style>

</style>
