<template>
  <div id="app">
    <button @click="num++">{{ num }}</button>
    <hr />
    <Test title="测试1" />
    <Test title="测试2" />
    <Test title="测试3" />
    <Test title="测试4" />
    <Test title="测试5" />
  </div>
</template>

<script>
// 引入组件
import Test from './components/Test.vue'

export default {
  data () {
    return {
      num: 0
    }
  },
  computed: {},
  watch: {},
  methods: {
    add () {
      this.num += 1
    }
  },
  created () {
  },
  components: {
    Test // 注册组件
  }
}
</script>

<style lang="scss">

</style>
