<script setup>
  import { ref } from 'vue'
  const num = ref(100)
</script>

<template>
  <div class="child">
    <header>
      <slot name="header" :num="num"></slot>
    </header>
    <main>
      <slot></slot>
    </main>
    <footer>
      <slot name="footer"></slot>
    </footer>
  </div>
</template>

<style scoped>
.child {
  border: 1px solid tomato;
}
main {
  border-top: 1px solid green;
  border-bottom: 1px solid green;
}
header, main, footer {
  padding: 20px;
}
</style>
