<template>
  <div class="dialog" @click.self="$emit('close')">
    <div class="content">
      <header>
        <h2>{{ title }}</h2>
        <slot name="header"></slot>
        <div class="close" @click="$emit('close')">X</div>
      </header>
      <main>
        <!-- 默认插槽 -->
        <slot :dialogName="dialogName" cc="cc">
          <h3>插槽默认内容</h3>
        </slot>
      </main>
      <footer>
        <!-- 具名插槽 -->
        <slot name="footer" :aa="dialogName" :bb="[1,2,3,4,5]">
          <button @click="$emit('ok')">确定</button>
          <button @click="$emit('cancel')">取消</button>
        </slot>
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  props: ['title'],
  data () {
    return {
      dialogName: '组件内部变量'
    }
  }
}
</script>

<style lang="scss">
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color: #000000, $alpha: .5);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 6px;
  min-width: 400px;
  min-height: 100px;
}
.close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
header {
  border-bottom: 1px solid;
  min-height: 60px;
}
main {
  min-height: 100px;
  padding: 10px;
}
footer {
  border-top: 1px solid;
  height: 60px;
}
</style>
