<template>
  <div>
    <h2>组件 v-model</h2>
    <MyInput label="姓名" :value="form.user" @input="form.user = $event" />
    <MyInput label="年龄" v-model="form.age" />
    <MyInput label="性别" v-model="form.sex" />
    <button>提交</button>
    {{ form }}
  </div>
</template>

<script>
import MyInput from './components/MyInput.vue'

export default {
  // 组件的中data为什么是一个对象:
  // 创建组件时会调用data函数返回一个新的对象
  // 防止组件复用时组件间的数据互相影响，让每个组件都有自己独立的数据
  data () {
    return {
      form: {
        user: '小明',
        age: 10,
        sex: '男'
      }
    }
  },
  methods: {
  },
  components: {
    MyInput
  }
}
</script>

<style lang="scss">
</style>
