
<view class="box">
  <button size="mini" bindtap="changeNum" data-count="{{-1}}" data-test="{{[1,2,3,5]}}">-</button>
  {{ num }}
  <button size="mini" type="primary" bindtap="changeNum" data-count="{{1}}">+</button>
</view>

<view class="box" data-test="box0" bindtap="click0">
  <view class="box1" data-test="box1"></view>
</view>