<template>
  <div class="app">
    <router-view />
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
html, body, .app {
  width: 100%;
  height: 100%;
}
</style>
