* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  line-height: 50px;
  border-bottom: 1px solid #333;
  display: flex;
  span {
    flex: 1;
    text-align: center;
    cursor: pointer;
    &.active {
      background: orange;
    }
  }
}