<template>
  <div>
    <ul>
      <li v-for="item in list" :key="item" :style="{ width: liWidth }">{{ item }}</li>
    </ul>
  </div>
</template>

<script>
import screenMixin from '@/mixins/screen'
export default {
  mixins: [screenMixin],
  data () {
    return {
      list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    }
  },
  computed: {
    liWidth () {
      switch (this.screen) {
        case 'big':
          return '25%'
        case 'middle':
          return '50%'
        default :
          return '100%'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
ul {
  display: flex;
  flex-wrap: wrap;
  li {
    background: #ccc;
    width: 100%;
    height: 50px;
    border: 1px dashed #333;
  }
}
</style>
