<template>
  <div>
    <h1 v-if="screen === 'big'" :style="{ background: 'red' }">这是 big 首页</h1>
    <h2 v-else-if="screen === 'middle'" :style="{ background: 'yellow' }">这是 middle 首页</h2>
    <h3 v-else :style="{ background: 'green' }">这是 small 首页</h3>
    {{ test }}
  </div>
</template>

<script>
import screenMixin from '@/mixins/screen'

export default {
  mixins: [screenMixin],
  data () {
    return {
      // 如果组件中的变量和混入的变量重复，以组件中的变量会覆盖mixin中的变量
      test: 'abc',
      arr: [4, 5, 6, 7],
      // 如果组件中重复的变量时对象，会合并两个对象
      obj: {
        b: 'BBB',
        c: 300
      }
    }
  },
  created () {
    console.log('组件中的created', this.arr)
  }
}
</script>

<style>

</style>
