<template>
  <div>
    <h1>child1</h1>
    <button @click="add">调用父组件的方法</button>
    <button>{{ n }}</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      n: 0
    }
  },
  methods: {
    addN () {
      this.n++
    },
    add () {
      // this.$parent 父组件的实例对象
      // 可以通过 this.$parent 获取父组件的数据和方法，但是不推荐使用
      this.$parent.add()
      console.log(this.$parent.arr)
    }
  }
}
</script>

<style>

</style>
