.controller {
  flex: 1;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.power {
  width: 56px;
  text-align: center;
  p {
    width: 56px;
    height: 24px;
    background: #000000;
    padding: 4px;
    overflow: hidden;
    &::after {
      content: '';
      display: block;
      width: 20px;
      height: 16px;
      background: #0023f5;
    }
    &.on::after {
      float: right;
    }
  }
}
.song_id {
  width: 150px;
  height: 50px;
  background: #8b8b8b;
  margin: 30px 0 40px;
  text-align: center;
  line-height: 50px;
}
.volume {
  width: 100%;
  height: 6px;
  background: #4b4b4b;
  border: 1px solid #333333;
  box-shadow: 0 0 2px 2px #333333;
  position: relative;
  margin-bottom: 40px;
  i {
    position: absolute;
    left: 0;
    top: -12px;
    width: 12px;
    height: 30px;
    background: #0023f5;
    box-shadow: 0 0 2px 2px #333333;
  }
}