<template>
  <div>
    <h1>计时器组件 {{ title }}</h1>
    {{ count }}
    <button @click="count++">+</button>
    <Test />
  </div>
</template>

<script>
import Test from './Test.vue'

export default {
  props: ['title'],
  data () {
    return {
      count: 0
    }
  },
  methods: {
    handleClick (e) {
      console.log(e.pageX, e.pageY)
    }
  },
  beforeCreate () {
    console.log('Count组件 beforeCreate')
  },
  created () {
    console.log('Count组件 created')
    this.timer = setInterval(() => {
      this.count++
      console.log(this.count)
    }, 1000)

    document.addEventListener('click', this.handleClick)
  },
  beforeMount () {
    console.log('Count组件 beforeMount')
  },
  mounted () {
    console.log('Count组件 mounted')
  },
  beforeUpdate () {
    console.log('Count组件 beforeUpdate')
  },
  updated () {
    console.log('Count组件 updated')
  },
  beforeDestroy () {
    console.log('Count组件 beforeDestroy')
    clearInterval(this.timer)
    document.removeEventListener('click', this.handleClick)
  },
  destroyed () {
    console.log('Count组件 destroyed')
  },
  components: {
    Test
  }
}
</script>

<style>

</style>
