<template>
  <div>测试销毁组件</div>
</template>

<script>
export default {
  beforeDestroy () {
    console.log('Test beforeDestroy')
  },
  destroyed () {
    console.log('Test destroyed')
  }
}
</script>

<style>

</style>
