<script setup>
  import { inject } from 'vue'

  const n = inject('num')
  const num1 = inject('num1')

</script>

<template>
  <div class="child">
    <h2>child组件 - {{ n }}</h2>
    {{ num1 }}
  </div>
</template>

<style scoped>
.child {
  border: 1px solid tomato;
}
main {
  border-top: 1px solid green;
  border-bottom: 1px solid green;
}
header, main, footer {
  padding: 20px;
}
</style>
