/* pages/mine/mine.wxss */
.mine {
  height: 100%;
  background: #eeeeee;
}
.header {
  height: 400rpx;
  background: #d95255;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  filter: blur(10rpx);
}
.header button {
  height: 80rpx;
}
.userinfo {
  position: relative;
}
.userinfo view {
  text-align: center;
  color: #ffffff;
}
.userinfo image {
  width: 200rpx;
  height: 200rpx;
  border-radius: 50%;
}
.list {
  padding: 0 40rpx;
  position: relative;
  top: -40rpx;
}
.list-item {
  min-height: 80rpx;
  background: #ffffff;
  margin-bottom: 40rpx;
}
.collect {
  display: flex;
  font-size: 28rpx;
}
.collect navigator {
  flex: 1;
  text-align: center;
  padding: 20rpx 0;
}