<script setup>
import { useRoute } from 'vue-router'

const route = useRoute()
console.log('query', route.query)
console.log('params', route.params)

</script>

<template>
  详情
</template>

<style lang='scss' scoped>

</style>
