<!--index.wxml-->
<view class="container">
  测试第一个小程序
  <text>行内标签</text>
  <view class="item">1</view>
  <view class="item">2</view>
  <view class="item">3</view>
  <view class="item">4</view>
  <view class="item">5</view>
  <view class="item">6</view>
  <view class="item">7</view>
</view>
<!-- 媒体查询标签 -->
<match-media min-width="300" max-width="600">
  <view>当页面宽度在 300 ~ 500 px 之间时展示这里</view>
</match-media>
<swiper class="swiper" indicator-dots autoplay circular vertical>
  <swiper-item>1</swiper-item>
  <swiper-item>2</swiper-item>
  <swiper-item>3</swiper-item>
  <swiper-item>4</swiper-item>
</swiper>
<icon color="orange" type="success" size="93"></icon>
<!-- rich-text 标签可以渲染 html 节点，类似 vue 中的 v-html 指令和 js 中的 innerHTML -->
<rich-text nodes="<h1 style='color: red'>aaa</h1>"></rich-text>
<button type="primary" size="mini" open-type="contact">按钮</button>