/**index.wxss**/
.container {
  background: red;
  width: 200px;
  height: 200px;
  overflow: auto;
}
.item {
  line-height: 50px;
}
.container text {
  color: yellow;
}
.swiper {
  height: 100px;
  background: yellowgreen;
}