* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap {
  h1 {
    border-bottom: 1px solid;
    text-align: center;
    padding: 20px 0;
  }
}
button {
  padding: 0 20px;
}
main {
  display: flex;
}
.left, .right {
  flex: 1;
  border: 4px solid;
  min-height: 500px;
  padding: 10px;
}
.left {
  border-color: tomato;
}
.right {
  border-color: greenyellow;
}
.leftChild {
  border: 4px solid tomato;
  padding: 10px;
}
.rightchild {
  border: 4px solid greenyellow;
  padding: 10px;
}