<script setup>
import { RouterView, RouterLink } from 'vue-router'
</script>

<template>
  <div class="page">
    <main>
      <RouterView />
    </main>
    <footer>
      <RouterLink to="/movie">电影</RouterLink>
      <RouterLink to="/cinema">影院</RouterLink>
      <RouterLink to="/mine">我的</RouterLink>
    </footer>
  </div>
</template>

<style lang='scss' scoped>
.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: auto;
  }
  footer {
    height: 50px;
    line-height: 50px;
    border-top: 1px solid;
    display: flex;
    a {
      flex: 1;
      text-align: center;
    }
    .router-link-active {
      background: orange;
    }
  }
}
</style>
