<template>
  <div>
    {{ info }}
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      info: {}
    }
  },
  async created () {
    const res = await axios({
      url: 'https://detail.dmall.com/waredetail/main',
      method: 'post',
      data: {
        param: `{"storeId": ${this.$route.query.storeId},"skuId":"${this.$route.query.sku}","moduleCodes":"","longitude":116.50842,"latitude":40.037272}`,
        tempid: 'CA05CFD7062000024F179AE11C3060C0',
        source: '2',
        pubParam: '{}',
        d_track_data: '{"session_id":"CA1021DEFFB00002DA1E1F70167C19FD","uuid":"CA05CFD7062000024F179AE11C3060C0","project":"微信商城","env":"mweb","tdc":"","tpc":""}'
      },
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
      }
    })
    this.info = res.data.data
  }
}
</script>

<style>

</style>
